{
    "swagger": "2.0",
    "info": {
        "version": "v2.1",
        "title": "DocuSign Admin API",
        "description": "An API for an organization administrator to manage organizations, accounts and users",
        "contact": {
            "name": "DocuSign Developer Center",
            "url": "https://developers.docusign.com",
            "email": "devcenter@docusign.com"
        },
        "termsOfService": "https://www.docusign.com/company/terms-and-conditions/developers"
    },
    "host": "api.docusign.net",
    "basePath": "/Management",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v2/organizations": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "summary": "Returns a list of organizations that the authenticated user belongs to.",
                "description": "Returns a list of organizations that the authenticated user belongs to.\n\n- Required scopes: `organization_read`.\n\nNote that the DocuSign Admin API only returns JSON, not XML.",
                "operationId": "Organization_Organization_GetListV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "Specifies how to select the organizations. Valid values:\n\n- `org_admin`: Returns organizations for which the authenticated user is an admin.\n- `account_membership`: Returns organizations that contain an account of which the authenticated user is a member\n\nDefault value: `org_admin`",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "organization_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getOrganizations",
                "x-ds-method": "getOrganizations",
                "x-ds-service": "Accounts",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/accounts/{accountId}/permissions": {
            "get": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Returns the list of permission profiles in an account.",
                "description": "Returns the list of permission profiles in an account.\n\n- Required scopes: `permission_read`\n\n",
                "operationId": "Account_Accounts_GetPermissionProfilesV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PermissionsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "permission_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getPermissions",
                "x-ds-method": "getPermissions",
                "x-ds-service": "Accounts",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/accounts/{accountId}/groups": {
            "get": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Returns the list of groups in an account.",
                "description": "Returns the list of groups in an account.\n\n- Required scopes: `group_read`\n",
                "operationId": "Account_Accounts_GetGroupsV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Index of first item to include in the response. The default value is 0.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Page size of the response. The default value is 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Index of the last item to include in the response. Ignored if `take` parameter is specified.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MemberGroupsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "group_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getGroups",
                "x-ds-method": "getGroups",
                "x-ds-service": "Accounts",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/exports/user_list": {
            "get": {
                "tags": [
                    "UserExport"
                ],
                "summary": "Returns a list of pending and completed export requests.",
                "description": "Returns a list of pending and completed export requests.\n\n- Required scopes: `user_read`\n",
                "operationId": "OrganizationExport_OrganizationExport_Get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getUserListExports",
                "x-ds-method": "getUserListExports",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "UserExport"
                ],
                "summary": "Creates a user list export request.",
                "description": "Create a user list export request.\n\n- Required scopes: `user_read`\n\nThis method initiates a user list export request. You specify the type of export request as JSON in the body of method, like this:\n\n``` json\n{\n\t\"type\": \"organization_memberships_export\"\n}\n```\n\n\n\n\nThe export request type is one of three values:\n\n| Value                                      | Description                                                                                             |\n| :----------------------------------------- | :------------------------------------------------------------------------------------------------------ |\n| `organization_memberships_export`          | Every user in every account in the organization. Users in multiple accounts will appear more than once. |\n| `organization_domain_users_export`         | All users of the reserved domains.                                                                      |\n| `organization_external_memberships_export` | Users whose email address domain is *not* linked to the organization.                                   |\n",
                "operationId": "OrganizationExport_OrganizationExport_Insert",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "createUserListExport",
                "x-ds-method": "createUserListExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/exports/account_settings": {
            "get": {
                "tags": [
                    "AccountSettingsExport"
                ],
                "summary": "Returns a list of pending and completed account settings export request.",
                "description": "Returns a list of pending and completed account settings export request.\n\n- Required scopes: `account_read`\n",
                "operationId": "OrganizationExport_OrganizationExport_GetAccountCompare",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getAccountSettingsExports",
                "x-ds-method": "getAccountSettingsExports",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "AccountSettingsExport"
                ],
                "summary": "Creates a  new account settings export request.",
                "description": "Creates a  new account settings export request.\n\nSpecify the accounts whose settings you are requesting as JSON in the body of method, like this:\n\n``` json\n{\n  \"accounts\":\t[\n  \t{ \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\"},\n  \t{ \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\"}\n\n  ]\n}\n```\n",
                "operationId": "OrganizationExport_OrganizationExport_AccountCompare",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrganizationAccountsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "createAccountSettingsExport",
                "x-ds-method": "createAccountSettingsExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/exports/user_list/{exportId}": {
            "get": {
                "tags": [
                    "UserExport"
                ],
                "summary": "Returns the results for single user list export request.",
                "description": "Returns the results for single user list export request.\n\n- Required scopes: `user_read`\n\nGiven an export id, this method returns the results of a single user list export request.\nTo get a list of all the export requests, use `getUserListExports`.\n\nNote that the `metadata_url` property of the response from `createUserListExport` is a read-to-use HTTP GET request to get the status.\n\nYou can find the actual list of users at  `results[n].url` in the response.",
                "operationId": "OrganizationExport_OrganizationExport_GetByExportId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The export ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getUserListExport",
                "x-ds-method": "getUserListExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "UserExport"
                ],
                "summary": "Deletes a single user list export request.",
                "description": "Deletes a single user list export request.\nUse this method to delete pending or completed user export requests.\n\n- Required scopes: `user_read`\n\n",
                "operationId": "OrganizationExport_OrganizationExport_DeleteByExportId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The export ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "deleteUserListExport",
                "x-ds-method": "deleteUserListExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/exports/account_settings/{exportId}": {
            "get": {
                "tags": [
                    "AccountSettingsExport"
                ],
                "summary": "Returns the results for a single account settings export request.",
                "description": "Returns the results for a single account settings export request.\n\n- Required scopes: `account_read`\n\nGiven an export id, this method returns the results of an account settings export request.\nTo get a list of all the export requests, use `getAccountSettingsExports`.\n\nYou can find the actual list of settings at  `results[n].url` in the response. The settings export is formatted like this:\n\n``` json\n{\n  \"accounts\": [\n    {\n      \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\",\n      \"name\": \"The Happy Company\",\n      . . .\n    },\n    {\n      \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n      \"name\": \"LoanCo\",\n      . . .\n    }\n  ],\n  \"settings\": [\n    . . .\n    {\n      \"category\": \"Signing\",\n      \"name\": \"SignerCanSignOnMobile\",\n      \"account_values\": [\n        {\n          \"account_id\": \"9ca037f4-xxxx-xxxx-xxxx-212e57d4f22e\",\n          \"value\": \"true\",\n          \"rights\": \"editable\"\n        },\n        {\n          \"account_id\": \"624e3e00-xxxx-xxxx-xxxx-43918c520dab\",\n          \"value\": \"true\",\n          \"rights\": \"editable\"\n        }\n      ]\n    },\n    . . .\n  ]\n}\n\n```\n",
                "operationId": "OrganizationExport_OrganizationExport_GetAccountSettingsExportByExportId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The export ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationExportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getAccountSettingsExport",
                "x-ds-method": "getAccountSettingsExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "AccountSettingsExport"
                ],
                "summary": "Deletes a single account settings export request.",
                "description": "Deletes a single account settings export request.\nAny data associated with the request is also deleted.\n\n- Required scopes: `account_read`\n\n",
                "operationId": "OrganizationExport_OrganizationExport_DeleteByAccountSettingsExportId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The export ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "deleteAccountSettingsExport",
                "x-ds-method": "deleteAccountSettingsExport",
                "x-ds-service": "BulkExports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/account_settings": {
            "get": {
                "tags": [
                    "AccountSettingsImport"
                ],
                "summary": "Returns the details and metadata for Bulk Account Settings Import requests in the organization.",
                "description": "Returns the details and metadata for Bulk Account Settings Import requests in the organization.\n\n- Required scopes: `account_read`",
                "operationId": "OrganizationImport_OrganizationImportAccountSettings_Get",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/OrganizationAccountSettingsImportResponse"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getBulkAccountSettingsImports",
                "x-ds-method": "getBulkAccountSettingsImports",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "AccountSettingsImport"
                ],
                "summary": "Creates a new account settings import request.",
                "description": "Creates a new account settings import request.\n\n\n- Required scopes: `account_write`",
                "operationId": "OrganizationImport_OrganizationImportAccountSettings_Post",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID GUID.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "file.csv",
                        "in": "formData",
                        "description": "CSV file.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationAccountSettingsImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_write"
                        ]
                    }
                ],
                "x-ds-methodname": "addBulkAccountSettingsImport",
                "x-ds-method": "addBulkAccountSettingsImport",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/account_settings/{importId}": {
            "get": {
                "tags": [
                    "AccountSettingsImport"
                ],
                "summary": "Returns the details/metadata for a Bulk Account Settings Import request.",
                "description": "Returns the details/metadata for a Bulk Account Settings Import request.\n\nRequired - scopes: `account_read`\n\n\n\nGiven an import ID, this method returns the results of an account settings import request.\nTo get a list of all the import requests, use `getAccountSettingsImports`.\n\n",
                "operationId": "OrganizationImport_OrganizationImportAccountSettings_GetById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "description": "The import ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationAccountSettingsImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getBulkAccountSettingsImport",
                "x-ds-method": "getBulkAccountSettingsImport",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "AccountSettingsImport"
                ],
                "summary": "Deletes a Bulk Account Settings Import request.",
                "description": "Deletes a single account settings import request.\nAny data associated with the request is also deleted.\n\n- Required scopes: `account_write`",
                "operationId": "OrganizationImport_OrganizationImportAccountSettings_DeleteById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "description": "The import ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "account_write"
                        ]
                    }
                ],
                "x-ds-methodname": "deleteBulkAccountSettingsImport",
                "x-ds-method": "deleteBulkAccountSettingsImport",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/add": {
            "post": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Creates a request to import new users into an account.",
                "description": "Creates a request to import *new* users.\n\n- Required scopes: `user_write`\n\n\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user you want to add to an account. Only new users can be imported. Any changes to existing users will be ignored. To make changes to existing users, use `updateBulkUserImports`.\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Add CSV file](https://admin.docusign.com/static-resources/organization-user-import.csv)\n as a template. The following table describes the columns.\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The API account ID for the account to which you want you add the user. You can find this id in the Admin area for the account under **API and Keys**.                                                                                                                                                                                                                                                            |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n| UserTitle           |          | The user's job title.                                                                                                                                                                                                                                                                                                                                                                                               |\n| CompanyName         |          | The user's company name.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Group               |          | The user's assigned groups. The Group values must match existing Group names for the account. Additional Group columns can be added to the file to add users to more than one group. You do not need to add users to the Everyone group, since all new users are automatically added to that group.                                                                                                                 |\n| AddressLine1        |          | The user's address, first line.                                                                                                                                                                                                                                                                                                                                                                                     |\n| AddressLine2        |          | The user's address, second line.                                                                                                                                                                                                                                                                                                                                                                                    |\n| City                |          | The user's city name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| StateRegionProvince |          | The user's regional location.                                                                                                                                                                                                                                                                                                                                                                                       |\n| PostalCode          |          | The user's postal code.                                                                                                                                                                                                                                                                                                                                                                                             |\n| Phone               |          | The user's phone number.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Language            |          | The user's display language for their DocuSign account. Must be one of: <ul><li>Chinese Simplified: <code>zh_CN</code></li><li>Chinese Traditional: <code>zh_TW</code></li><li>Dutch: <code>nl</code></li><li>English: <code>en</code></li><li>French: <code>fr</code></li><li>German: <code>de</code></li><li>Italian: <code>it</code></li><li>Japanese: <code>ja</code></li><li>Korean: <code>ko</code></li><li>Portuguese: <code>pt</code></li><li>Portuguese Brazil: <code>pt_BR</code></li><li>Russian: <code>ru</code></li><li>Spanish: <code>es</code></li></ul>                                                                                                                                                                                                                                                                                                                                                            |\n| LoginPolicy         |          | The user's login policy. Valid values include the following: <ul> <li>Column left blank = The user is created with no policy assigned.</li> <li>FedAuthRequired = The user must log in with an Identity Provider.</li> <li>FedAuthBypass = The user may log in with an Identity Provider or their DocuSign username and password.</li> </ul> For more information on login policies, see [Setting User Login Policy](https://support.docusign.com/en/guides/org-admin-guide-user-login-policy). |\n| AutoActivate        |          | For domain users, new users can be activated automatically for domain accounts using SSO by setting the value to **true**. The user is activated automatically once the import is complete. Memberships activated in this way do not receive an activation email.                                                                                                                                                   |\n\n\nYou can add up to 2,000 users to an account and include up to 50 accounts per import. The maximum number of users per import is 8,000.",
                "operationId": "OrganizationImport_OrganizationImportUsers_Insert",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "file.csv",
                        "in": "formData",
                        "description": "CSV file.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "addBulkUserImport",
                "x-ds-method": "addBulkUserImport",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/accounts/{accountId}/imports/bulk_users/add": {
            "post": {
                "tags": [
                    "SingleAccountUserImport"
                ],
                "summary": "Import request for adding user to a single account within the organization.\n",
                "description": "Import request for adding user to a single account within the organization.\nThis method lets you upload user information without requiring an AccountId column.\n\n- Required scopes: `user_write`\n",
                "operationId": "OrganizationImport_OrganizationImportSingleAccountUsers_Insert",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "file.csv",
                        "in": "formData",
                        "description": "CSV file.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "createBulkImportSingleAccountAddUsersRequest",
                "x-ds-method": "createBulkImportSingleAccountAddUsersRequest",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/update": {
            "post": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Bulk updates information for existing users.",
                "description": "Bulk updates information for existing users.\n\n- Required scopes: `user_write`\n\n\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user you want to add to an account. Only new users can be imported. Any changes to existing users will be ignored. To make changes to existing users, use `updateBulkUserImports`.\n\n**Update limit**: You can update up to 2,000 users on an account and include up to 50 accounts per import. The maximum number of updated users per import is 8,000.\n\nThis method requires the following HTTP headers:\n\n| Header | Value |\n| :--- |  :--- |\n| Content-Type | `text/csv` |\n| Content-Disposition |  `filename=filename.csv` |\n\n\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Update CSV file](https://admin.docusign.com/static-resources/organization-user-update-import.csv)\n as a template. The following table describes the columns.\n\nNote that the columns for bulk adding users and bulk update users are slightly different.\nThe update CSV file requires an `APIUserName` column, and does not have an `AutoActivate` column.\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The 32-character API account ID of the user's account in your organization. You can find this value in the API and Keys section of the Admin area of the account.                                                                                                                                                                                                                                                             |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n| UserTitle           |          | The user's job title.                                                                                                                                                                                                                                                                                                                                                                                               |\n| CompanyName         |          | The user's company name.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Group               |          | The user's assigned groups. The Group values must match existing Group names for the account. Additional Group columns can be added to the file to add users to more than one group. You do not need to add users to the Everyone group, since all new users are automatically added to that group.                                                                                                                 |\n| AddressLine1        |          | The user's address, first line.                                                                                                                                                                                                                                                                                                                                                                                     |\n| AddressLine2        |          | The user's address, second line.                                                                                                                                                                                                                                                                                                                                                                                    |\n| City                |          | The user's city name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| StateRegionProvince |          | The user's regional location.                                                                                                                                                                                                                                                                                                                                                                                       |\n| PostalCode          |          | The user's postal code.                                                                                                                                                                                                                                                                                                                                                                                             |\n| Phone               |          | The user's phone number.                                                                                                                                                                                                                                                                                                                                                                                            |\n| Language            |          | The user's display language for their DocuSign account. Must be one of: <ul><li>Chinese Simplified: <code>zh_CN</code></li><li>Chinese Traditional: <code>zh_TW</code></li><li>Dutch: <code>nl</code></li><li>English: <code>en</code></li><li>French: <code>fr</code></li><li>German: <code>de</code></li><li>Italian: <code>it</code></li><li>Japanese: <code>ja</code></li><li>Korean: <code>ko</code></li><li>Portuguese: <code>pt</code></li><li>Portuguese Brazil: <code>pt_BR</code></li><li>Russian: <code>ru</code></li><li>Spanish: <code>es</code></li></ul>                                                                                                                                                                                                                                                                                                                                                            |\n| LoginPolicy         |          | The user's login policy. Valid values include the following: <ul> <li>Column left blank = The user is created with no policy assigned.</li> <li>FedAuthRequired = The user must log in with an Identity Provider.</li> <li>FedAuthBypass = The user may log in with an Identity Provider or their DocuSign username and password.</li> </ul> For more information on login policies, see [Setting User Login Policy](https://support.docusign.com/en/guides/org-admin-guide-user-login-policy). |\n| AutoActivate        |          | For domain users, new users can be activated automatically for domain accounts using SSO by setting the value to **true**. The user is activated automatically once the import is complete. Memberships activated in this way do not receive an activation email.                                                                                                                                                   |\n\n\n\n## Updating user email addresses\n\nChanging a user's email address should be done carefully. The user's email address is used to log in to DocuSign and receive documents to sign from others.\nOnce changed, existing documents that were sent or received:\n\n- Will still appear in the user's documents list.\n- Notifications about these documents will be sent to the new email address. If someone sends a new document to the old email address:\n- DocuSign will send a notification to the old address.\n- It will not appear in the documents list of the account.\n\nThis change of email address will be applied to all of the user's account memberships.",
                "operationId": "OrganizationImport_OrganizationImportUsers_Update",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "file.csv",
                        "in": "formData",
                        "description": "CSV file.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "updateBulkUserImports",
                "x-ds-method": "updateBulkUserImports",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/accounts/{accountId}/imports/bulk_users/update": {
            "post": {
                "tags": [
                    "SingleAccountUserImport"
                ],
                "summary": "Import request for updating users for a single account\nwithin the organization.",
                "description": "Import request for updating users for a single account\nwithin the organization.\n\n- Required scopes: `user_write`\n\nThis method lets you upload user information without requiring an AccountId column.\n\n",
                "operationId": "OrganizationImport_OrganizationImportSingleAccountUsers_Update",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "file.csv",
                        "in": "formData",
                        "description": "CSV file.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "createBulkImportSingleAccountUpdateUsersRequest",
                "x-ds-method": "createBulkImportSingleAccountUpdateUsersRequest",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/close": {
            "post": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Creates a request to close the accounts of existing users.",
                "description": "Creates a request to close the accounts of existing users.\n\n- Required scopes: `user_write`\n\nGiven a CSV list of users, close their accounts.\n\n\nYour CSV import file is made up of a header row with the column headers and a row of user or account data for each user whose account you want to close.\n\nTo ensure your CSV is properly formatted, use the\n[Sample Bulk Update CSV file](https://admin.docusign.com/static-resources/organization-user-update-import.csv)\n as a template. The following table describes the columns.\n\n\n\n\n| Column              | Required | Description                                                                                                                                                                                                                                                                                                                                                                                                         |\n| :------------------ | :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| AccountID           | yes      | The 32-character API account ID of the user's account in your organization. You can find this value in the API and Keys section of the Admin area of the account.                                                                                                                                                                                                                                                             |\n| AccountName         |          | The name of the user's account in your organization. The account name must match the account ID provided.                                                                                                                                                                                                                                                                                                           |\n| FirstName           | yes      | The user's first name.                                                                                                                                                                                                                                                                                                                                                                                              |\n| LastName            | yes      | The user's last name.                                                                                                                                                                                                                                                                                                                                                                                               |\n| UserEmail           | yes      | The user's complete email address.                                                                                                                                                                                                                                                                                                                                                                                  |\n| PermissionSet       | yes      | The user's permission set. The PermissionSet value must match an existing permission set for the account. This value is not case sensitive.                                                                                                                                                                                                                                                                         |\n",
                "operationId": "OrganizationImport_OrganizationImportUsers_Close",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "closeBulkUserImportRequest",
                "x-ds-method": "closeBulkUserImportRequest",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/close_external": {
            "post": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Closes external memberships.",
                "description": "Closes external memberships.\n\n- Required scopes: `user_write`\n\nExternal memberships are:\n\n- Users who have an email address at a verified domain\n- But do not belong to the organization\n",
                "operationId": "OrganizationImport_OrganizationImportUsers_CloseExternal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "closeBulkExternalUserImportRequest",
                "x-ds-method": "closeBulkExternalUserImportRequest",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users": {
            "get": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Gets a list of all of the user import requests.",
                "description": "Gets a list of all of the user import requests.\n\n- Required scopes: `user_read`\n",
                "operationId": "OrganizationImport_OrganizationImportUsers_Get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getBulkUserImportRequests",
                "x-ds-method": "getBulkUserImportRequests",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/{importId}": {
            "get": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Returns the details of a single user import request.",
                "description": "Returns the details of a single user import request.\n\n- Required scopes: `user_read`\n\nUse this method to check the status of the request by looking at the `status` property of the response.\nOnce the status becomes `completed` (or fails), use this method to get the details.\n\nTo get a list of all of the user import requests, use `getBulkUserImportRequests`.",
                "operationId": "OrganizationImport_OrganizationImportUsers_GetById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "description": "The import ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationImportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getBulkUserImportRequest",
                "x-ds-method": "getBulkUserImportRequest",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            },
            "delete": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Deletes a specific user import request.",
                "description": "Deletes a specific import request and its results.\n\n- Required scopes: `user_write`\n\n\nTo delete a user, see `closeBulkUserImportRequest`.",
                "operationId": "OrganizationImport_OrganizationImportUsers_DeleteById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "description": "The import ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "deleteBulkUserImport",
                "x-ds-method": "deleteBulkUserImport",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/imports/bulk_users/{importId}/results_csv": {
            "get": {
                "tags": [
                    "UserImport"
                ],
                "summary": "Given the ID of a user import request,\nreturn the CSV file that was imported.",
                "description": "Returns the contents of the CSV file\nassociated with a user import request.\n\n- Required scopes: `user_read`\n\nThe results have an additional column,\n`ProcessingResults`,\nthat describes the results of importing that row.\n",
                "operationId": "OrganizationImport_OrganizationImportUsers_GetCSVResults",
                "produces": [
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "description": "The import ID GUID for the request.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getBulkUserImportCSV",
                "x-ds-method": "getBulkUserImportCSV",
                "x-ds-service": "BulkImports",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/identity_providers": {
            "get": {
                "tags": [
                    "IdentityProviders"
                ],
                "summary": "Returns the list of identity providers for an organization.",
                "description": "Returns the list of identity providers for an organization.\n\n- Required scopes: `identity_provider_read`\n",
                "operationId": "Organization_GetIdentityProviders",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IdentityProvidersResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "identity_provider_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getIdentityProviders",
                "x-ds-method": "getIdentityProviders",
                "x-ds-service": "IdentityProviders",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/reserved_domains": {
            "get": {
                "tags": [
                    "ReservedDomains"
                ],
                "summary": "Returns the list of reserved domains for the organization.",
                "description": "Returns the list of reserved domains for the organization.\n\n- Required scopes: `domain_read`.\n\nPlease note the DocuSign Admin API only returns JSON, not XML.",
                "operationId": "Organization_GetReservedDomains",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DomainsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "domain_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getReservedDomains",
                "x-ds-method": "getReservedDomains",
                "x-ds-service": "ReservedDomains",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users/profiles": {
            "post": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Updates a user's information.",
                "description": "Updates a user's information.\n\n- Required scopes: `user_write`\n\n",
                "operationId": "User_Users_UpdateV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateUsersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UsersUpdateResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "updateUser",
                "x-ds-method": "updateUser",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users/email_addresses": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Updates a user's email address.",
                "description": "Updates a user's email address.\n\n- Required scopes: `user_write`\n\n",
                "operationId": "User_Users_UpdateEmailAddressesV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateUsersEmailRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UsersUpdateResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "updateEmailAddress",
                "x-ds-method": "updateEmailAddress",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users/{userId}/accounts": {
            "delete": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Closes a user's memberships.",
                "description": "Closes a user's memberships.\n\n- Required scopes: `user_write`\n\n",
                "operationId": "User_Users_CloseMembershipsV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The user ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteMembershipsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeleteMembershipsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "closeMemberships",
                "x-ds-method": "closeMemberships",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns information about the users in an organization.",
                "description": "Returns information about the users in an organization.\n\n\n- Required scopes: `user_read`\n\nYou must include at least one of the following query parameters in the request:\n\n- `account_id`: The id of an account associated with the organization.\n- `organization_reserved_domain_id`: The id of one of the organization's reserved domains.\n- `email`: An email address associated with the users that you want to return.",
                "operationId": "OrganizationUser_OrganizationUsers_GetV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Index of first item to include in the response. The default value is 0.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Page size of the response. The default value is 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Index of the last item to include in the response. Ignored if `take` parameter is specified.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email address of the desired user. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email_user_name_like",
                        "in": "query",
                        "description": "Selects users by pattern matching on the user's email address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "membership_status",
                        "in": "query",
                        "description": "The user's membership status. One of:\n\n- `activation_required`\n- `activation_sent`\n- `active`\n- `closed`\n- `disabled`\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Select users that are members of the specified account. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified.",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "organization_reserved_domain_id",
                        "in": "query",
                        "description": "Select users that are in the specified domain. At least one of `email`, `account_id` or `organization_reserved_domain_id` must be specified.",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "last_modified_since",
                        "in": "query",
                        "description": "Select users whose data have been modified since the date specified. `account_id` or `organization_reserved_domain_id` must be specified.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrganizationUsersResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_read"
                        ]
                    }
                ],
                "x-ds-methodname": "getUsers",
                "x-ds-method": "getUsers",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            },
            "post": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Creates a new user.",
                "description": "Creates a new user.\n\n- Required scopes: `user_write`\n\n",
                "operationId": "OrganizationUser_Users_AddV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NewUserResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "createUser",
                "x-ds-method": "createUser",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users/{userId}/memberships/{membershipId}": {
            "post": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Activates user memberships.",
                "description": "Activates user memberships.\n\n- Required scopes: `user_write`\n",
                "operationId": "OrganizationUser_Users_ActivateMembershipV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "The organization ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The user ID Guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The membership ID GUID.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ForceActivateMembershipRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UpdateResponse"
                        }
                    }
                },
                "security": [
                    {
                        "accessCode": [
                            "user_write"
                        ]
                    }
                ],
                "x-ds-methodname": "activateMembership",
                "x-ds-method": "activateMembership",
                "x-ds-service": "Users",
                "x-ds-in-sdk": true
            }
        },
        "/v2/organizations/{organizationId}/users/profile": {
            "get": {
                "tags": [
                    "eSignUserManagement"
                ],
                "summary": "Returns information about recently modified users.\n",
                "description": "Returns information about recently modified users.\n\n- Required scopes: `user_read`\n\nThe response includes up to the first 20 users modified\nin the last 10 days.\n\n\n\n\n",
                "operationId": "OrganizationUser_OrganizationUsers_GetProfileV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
[...]
