{
  "swagger": "2.0",
  "info": {
    "version": "v2.1",
    "title": "DocuSign REST API",
    "description": "The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.",
    "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
    "contact": {
      "name": "DocuSign Developer Center",
      "url": "https://developers.docusign.com/",
      "email": "devcenter@docusign.com"
    }
  },
  "host": "www.docusign.net",
  "basePath": "/restapi",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json"
  ],
  "externalDocs": {
    "description": "See the DocuSign REST API Guide for more information.",
    "url": "https://docs.docusign.com/esign"
  },
  "paths": {
    "/service_information": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Retrieves the available REST API versions.",
        "description": "Retrieves the available REST API versions.\n\nDocuSign Production system: https://www.docusign.net/restapi/service_information\nDocuSign Demo system: https://demo.docusign.net/restapi/service_information\n\nYou do not need an integrator key to view the REST API versions and resources.",
        "operationId": "ServiceInformation_GetServiceInformation",
        "consumes": [],
        "produces": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/serviceInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getService",
        "x-ds-method": "get",
        "x-ds-service": "Diagnostics",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Lists resources for REST version specified",
        "description": "Retrieves the base resources available for the DocuSign REST APIs.\n\nYou do not need an integrator key to view the REST API versions and resources.\n\nExample: https://demo.docusign.net/restapi/v2 lists all of the base resources available in version 2 of the REST API on the DocuSign Demo system.\n\nTo view descriptions and samples of the service operations for all versions, remove the version number and add /help to the URL.\n\nExample: https://demo.docusign.net/restapi/help lists the REST API operations on the DocuSign Demo system with XML and JSON request and response samples.",
        "operationId": "ServiceInformation_GetResourceInformation",
        "consumes": [],
        "produces": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/resourceInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getResources",
        "x-ds-method": "get",
        "x-ds-service": "Diagnostics",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates new accounts.",
        "description": "Creates new DocuSign accounts.\nYou can use this method to create\na single account\nor up to 100 accounts at a time.\n\n**Note**:  This method is restricted to partner integrations. You must work with DocuSign Professional Services or DocuSign Business Development, who will provide you with the Distributor Code and Distributor Password that you need to include in the request body.\n\nYou must include the `X-DocuSign-Authentication`  header.\n\nExample:\n\n`<DocuSignCredentials><IntegratorKey>{{integratorKey}}</IntegratorKey></DocuSignCredentials>`\n\nWhen creating a single account,\nthe body of the request is a\n[`newAccountRequest`][newAccountRequest]\nobject.\n\nExample:\n\n```\n{\n\t\"newAccountRequest\": [\n\t\t{\n\t\t\t\"accountName\":\"Test Account\",\n\t\t\t\"distributorCode\":\"MY_DIST_CODE\",\n\t\t\t\"distributorPassword\":\"MY_DIST_PWD\",\n\t\t\t\"initialUser\":{\n\t\t\t\t\"email\":\"user@emaildomain.com\",\n\t\t\t\t\"firstName\":\"John\",\n\t\t\t\t\"middleName\": \"Harry\",\n\t\t\t\t\"lastName\":\"Doe\",\n\t\t\t\t\"suffixName\": \"\",\n\t\t\t\t\"userName\": \"John Doe\",\n\t\t\t\t\"jobTitle\": \"Engineer\",\n\t\t\t\t\"company\": \"Test Company\"\n\t\t\t},\n\t\t\t\"addressInformation\":{\n\t\t\t\t\"address1\": \"1234 Main Street\",\n\t\t\t\t\"address2\": \"Suite 100\",\n\t\t\t\t\"city\": \"Seattle\",\n\t\t\t\t\"state\": \"WA\",\n\t\t\t\t\"postalCode\": \"98101\",\n\t\t\t\t\"country\": \"US\",\n\t\t\t\t\"phone\": \"1234567890\",\n\t\t\t\t\"fax\": \"1234567891\"\n\t\t\t},\n\t\t\t\"planInformation\":{\n\t\t\t\t\"planId\":\"37085696-xxxx-xxxx-xxxx-7ea067752959\"\n\t\t\t},\n\t\t\t\"referralInformation\":{\n\t\t\t\t\"includedSeats\": \"1\",\n\t\t\t\t\"referralCode\": \"code\",\n\t\t\t\t\"referrerName\": \"name\"\n\t\t\t}\n\t\t}\n\t]\n}\n\n```\nIf the request succeeds,\nit returns a\n201 (Created) HTTP response code.\nThe response returns the new account ID, password, and the default user\ninformation for each newly created account.\n\n\nWhen creating multiple accounts,\nthe body of the request is a\n`newAccountRequests`\nobject,\nwhich contains one or more \n[`newAccountDefinition`][newAccountDefinition]\nobjects.\nYou can create up to 100 new accounts\nat a time this way.\n\nThe body for a multi-account\ncreation request\nlooks like this in JSON:\n\n```\n{\n  \"newAccountRequests\": [\n    {\n      \"accountName\": \"accountone\",\n      . . .\n    },\n    {\n      \"accountName\": \"accounttwo\",\n      . . .\n    }\n  ]\n}\n```\n\nA multi-account request\nlooks like this in XML:\n\n```\n<newAccountsDefinition xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.docusign.com/restapi\">\n  <newAccountRequests>\n    <newAccountDefinition>\n      . . .\n    </newAccountDefinition>\n    <newAccountDefinition>\n      . . .\n    </newAccountDefinition>\n  </newAccountRequests>\n</newAccountsDefinition>\n```\n\nA multi-account creation request\nmay succeed (report a 201 code)\neven if some accounts could not be created.\nIn this case, the `errorDetails` property\nin the response contains specific information\nabout the failure.\n\n\n\n[newAccountDefinition]: #/definitions/newAccountDefinition\n[nameValue]: #/definitions/nameValue\n[newAccountRequest]: #/definitions/newAccountRequest\n",
        "operationId": "Accounts_PostAccounts",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "newAccountDefinition",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/newAccountDefinition"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/newAccountSummary"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "create",
        "x-ds-method": "create",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieves the account information for the specified account.",
        "description": "Retrieves the account information for the specified account.\n\n**Response**\nThe `canUpgrade` property contains is a Boolean that indicates whether the account can be upgraded through the API. ",
        "operationId": "Accounts_GetAccount",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_account_settings",
            "in": "query",
            "description": "When set to **true**, includes account settings\nin the response. If you omit this parameter, the default behavior is **false**.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/accountInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "GetAccountInformation",
        "x-ds-method": "get",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes the specified account.",
        "description": "This closes the specified account. You must be an account admin to close your account. Once closed, an account must be reopened by DocuSign.",
        "operationId": "Accounts_DeleteAccount",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "delete",
        "x-ds-method": "delete",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_charges": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets list of recurring and usage charges for the account.",
        "description": "Retrieves the list of recurring and usage charges for the account. This can be used to determine the charge structure and usage of charge plan items. \n\nPrivileges required: account administrator ",
        "operationId": "BillingCharges_GetAccountBillingCharges",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_charges",
            "in": "query",
            "description": "Specifies which billing charges to return.\nValid values are:\n\n* envelopes\n* seats\n",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingChargeResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBillingCharges",
        "x-ds-method": "getBillingCharges",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get a List of Billing Invoices",
        "description": "Retrieves a list of invoices for the account. If the from date or to date queries are not specified, the response returns invoices for the last 365 days.\n\nPrivileges required: account administrator ",
        "operationId": "BillingInvoices_GetBillingInvoices",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Specifies the date/time of the earliest invoice in the account to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Specifies the date/time of the latest invoice in the account to retrieve.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingInvoicesResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "listInvoices",
        "x-ds-method": "list",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieves a billing invoice.",
        "description": "Retrieves the specified invoice.\n\n**Note**: If the `pdfAvailable` property in the response is set to *true*, you can download a PDF version of the invoice. To download the PDF, make the call again and change the value of the `Accept` property in the header to `Accept: application/pdf`.\n\nPrivileges required: account administrator\n\nThe response returns a list of charges and information about the charges. Quantities are usually shown as 'unlimited' or an integer. Amounts are shown in the currency set for the account.\n\n**Response**\nThe following table provides a description of the different `chargeName` property values. The information will grow as more chargeable items are added to the system.\n\n| chargeName | Description |\n| --- | --- |\n| id_check | ID Check Charge |\n| in_person_signing | In Person Signing charge |\n| envelopes Included | Sent Envelopes for the account |\n| age_verify | Age verification check |\n| ofac | OFAC Check |\n| id_confirm | ID confirmation check |\n| student_authentication | STAN PIN authentication check |\n| wet_sign_fax | Pages for returning signed documents by fax |\n| attachment_fax | Pages for returning attachments by fax |\n| phone_authentication | Phone authentication charge |\n| powerforms | PowerForm envelopes sent |\n| signer_payments | Payment processing charge |\n| outbound_fax | Send by fax charge |\n| bulk_recipient_envelopes | Bulk Recipient Envelopes sent |\n| sms_authentications | SMS authentication charge |\n| saml_authentications | SAML authentication charge |\n| express_signer_certificate | DocuSign Express Certificate charge |\n| personal_signer_certificate | Personal Signer Certificate charge |\n| safe_certificate | SAFE BioPharma Signer Certificate charge |\n| seats | Included active seats charge |\n| open_trust_certificate | OpenTrust Signer Certificate charge |",
        "operationId": "BillingInvoices_GetBillingInvoice",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingInvoice"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getInvoice",
        "x-ds-method": "get",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_invoices_past_due": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get a list of past due invoices.",
        "description": "Returns a list past due invoices for the account and notes if payment can be made through the REST API. \n\nPrivileges Required: account administrator",
        "operationId": "BillingInvoices_GetBillingInvoicesPastDue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingInvoicesSummary"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "listInvoicesPastDue",
        "x-ds-method": "listPastDue",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Gets payment information for one or more payments.",
        "description": "Retrieves a list containing information about one or more payments. If the from date or to date queries are not used, the response returns payment information for the last 365 days. \n\nPrivileges required: account administrator ",
        "operationId": "BillingPayments_GetPaymentList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Specifies the date/time of the earliest payment in the account to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Specifies the date/time of the latest payment in the account to retrieve.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingPaymentsResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "listPayments",
        "x-ds-method": "list",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Posts a payment to a past due invoice.",
        "description": "Posts a payment to a past due invoice.\n\nThis method can only be used if the `paymentAllowed` value for a past due invoice is true. This can be determined calling [Billing::listInvoicesPastDue](https://developers.docusign.com/docs/esign-rest-api/reference/Billing/Invoices/listPastDue).\n\nThe response returns information for a single payment, if a payment ID was used in the endpoint, or a list of payments. If the from date or to date queries or payment ID are not used, the response returns payment information for the last 365 days. If the request was for a single payment ID, the `nextUri` and `previousUri` properties are not returned.\n\nPrivileges required: account administrator\n",
        "operationId": "BillingPayments_PostPayment",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingPaymentRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/billingPaymentRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingPaymentResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "makePayment",
        "x-ds-method": "create",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Gets billing payment information for a specific payment.",
        "description": "Retrieves the information for a specified payment. \n\nPrivileges required: account administrator ",
        "operationId": "BillingPayments_GetPayment",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingPaymentItem"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getPayment",
        "x-ds-method": "get",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_plan": {
      "get": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Get Account Billing Plan",
        "description": "Retrieves the billing plan information for the specified account, including the current billing plan, successor plans, billing address, and billing credit card.\n\nBy default the successor plan and credit card information is included in the response. You can exclude this information from the response by adding the appropriate optional query string and setting it to **false**.\n\nResponse\n\nThe response returns the billing plan information, including the currency code, for the plan. The `billingPlan` and `succesorPlans` property values are the same as those shown in the [Billing::getBillingPlan](https://developers.docusign.com/docs/esign-rest-api/reference/Billing/BillingPlans/get) reference. the `billingAddress` and `creditCardInformation` property values are the same as those shown in the [Billing::updatePlan](https://developers.docusign.com/docs/esign-rest-api/reference/Billing/BillingPlans/update) reference.\n\n**Note**: When credit card number information displays, a mask is applied to the response so that only the last 4 digits of the card number are visible.\n",
        "operationId": "BillingPlan_GetBillingPlan",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_credit_card_information",
            "in": "query",
            "description": "When set to **true**, payment information including credit card information will show in the return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_metadata",
            "in": "query",
            "description": "When set to **true**, the `canUpgrade` and `renewalStatus` properities are included the response and an array of `supportedCountries` is added to the `billingAddress` information. ",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_successor_plans",
            "in": "query",
            "description": "When set to **true**, excludes successor information from the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/accountBillingPlanResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getPlan",
        "x-ds-method": "getAccountPlan",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Updates an account billing plan.",
        "description": "Updates the billing plan information, billing address, and credit card information for the specified account.",
        "operationId": "BillingPlan_PutBillingPlan",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "preview_billing_plan",
            "in": "query",
            "description": "When set to **true**, updates the account using a preview billing plan.",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingPlanInformation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/billingPlanInformation"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/billingPlanUpdateResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updatePlan",
        "x-ds-method": "update",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_plan/credit_card": {
      "get": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Get credit card information",
        "operationId": "BillingPlan_GetCreditCardInfo",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/creditCardInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getCreditCardInfo",
        "x-ds-method": "getCreditCard",
        "x-ds-service": "Billing",
        "description": "This method returns information about a credit card associated with an account.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_plan/downgrade": {
      "get": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Returns downgrade plan information for the specified account.",
        "operationId": "BillingPlan_GetDowngradeRequestBillingInfo",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/downgradRequestBillingInfoResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getDowngradeRequestBillingInfo",
        "x-ds-method": "getDowngradeRequestBillingInfo",
        "x-ds-service": "Uncategorized",
        "description": "",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Queues downgrade billing plan request for an account.",
        "operationId": "BillingPlan_PutDowngradeAccountBillingPlan",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "downgradeBillingPlanInformation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/downgradeBillingPlanInformation"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/downgradePlanUpdateResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateDowngradeAccountBillingPlan",
        "x-ds-method": "updateDowngradeAccountBillingPlan",
        "x-ds-service": "Uncategorized",
        "description": "",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/billing_plan/purchased_envelopes": {
      "put": {
        "tags": [
          "BillingPlans"
        ],
        "summary": "Reserverd: Purchase additional envelopes.",
        "description": "Reserved: At this time, this endpoint is limited to DocuSign internal use only. Completes the purchase of envelopes for your account. The actual purchase is done as part of an internal workflow interaction with an envelope vendor.",
        "operationId": "PurchasedEnvelopes_PutPurchasedEnvelopes",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "purchasedEnvelopesInformation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/purchasedEnvelopesInformation"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "purchaseEnvelopes",
        "x-ds-method": "purchaseEnvelopes",
        "x-ds-service": "Billing",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Gets a list of brands.",
        "description": "This method returns details about all of the brands associated with an account, including the default brand profiles. \n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "operationId": "Brands_GetBrands",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "exclude_distributor_brand",
            "in": "query",
            "description": "When **true**, excludes distributor brand information from the response set.",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_logos",
            "in": "query",
            "description": "When set to **true**, returns the logos associated with the brand.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AccountBrands"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "listBrands",
        "x-ds-method": "list",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Creates one or more brand profiles for an account.",
        "description": "This method creates one or more brand profile files for an account.\n\nIf the `brandId` property for a brand profile is already set for the account, an error is returned. To upload a new version of an existing brand profile, you must delete the profile and then upload the newer version.\n\nWhen you upload brand profile files, you must combine them into a single zip file and set the `Content-Type` to `application/zip`.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "operationId": "Brands_PostBrands",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brand",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/brand"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AccountBrands"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createBrand",
        "x-ds-method": "create",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Deletes one or more brand profiles.",
        "description": "This method deletes one or more brand profiles from an account, based on the brand ids that you include in the `brandsRequest`.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "operationId": "Brands_DeleteBrands",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandsRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/brandsRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/AccountBrands"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteBrands",
        "x-ds-method": "deleteList",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands/{brandId}": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Gets information about a brand.",
        "operationId": "Brand_GetBrand",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_external_references",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "When **true**, the landing pages and links associated with the brand are included in the response."
          },
          {
            "name": "include_logos",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "When **true**, the URIs for the logos associated with the brand are included in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/brand"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBrand",
        "x-ds-method": "get",
        "x-ds-service": "Accounts",
        "description": "This method returns details about an account brand.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Updates an existing brand.",
        "operationId": "Brand_PutBrand",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brand",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/brand"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/brand"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateBrand",
        "x-ds-method": "update",
        "x-ds-service": "Accounts",
        "description": "This method updates an account brand. \n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Deletes a brand.",
        "operationId": "Brand_DeleteBrand",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteBrand",
        "x-ds-method": "delete",
        "x-ds-service": "Accounts",
        "description": "This method deletes a brand from an account.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands/{brandId}/file": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Exports a brand.",
        "operationId": "BrandExport_GetBrandExportFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBrandExportFile",
        "x-ds-method": "getExportFile",
        "x-ds-service": "Accounts",
        "description": "This method exports information about a brand to an XML file.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands/{brandId}/logos/{logoType}": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Gets a brand logo.",
        "operationId": "BrandLogo_GetBrandLogo",
        "consumes": [],
        "produces": [
          "image/png"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logoType",
            "in": "path",
            "description": "The type of logo. Valid values are:\n\n- `primary` \n- `secondary` \n- `email`",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBrandLogoByType",
        "x-ds-method": "getLogo",
        "x-ds-service": "Accounts",
        "description": "This method returns a specific logo that is used in a brand.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Updates a brand logo.",
        "operationId": "BrandLogo_PutBrandLogo",
        "consumes": [
          "image/png"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logoType",
            "in": "path",
            "description": "The type of logo. Valid values are:\n\n- `primary` \n- `secondary` \n- `email`",
            "required": true,
            "type": "string"
          },
          {
            "name": "logoFileBytes",
            "in": "body",
            "description": "Brand logo binary Stream. Supported formats: JPG, GIF, PNG. Maximum file size: 300 KB. Recommended dimensions: 296 x 76 pixels (larger images will be resized). Changes may take up to one hour to display in all places",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateBrandLogoByType",
        "x-ds-method": "updateLogo",
        "x-ds-service": "Accounts",
        "description": "This method updates a single brand logo.\n\nYou pass in the new version of the resource in the `Content-Disposition` header. Example:\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"logo.jpg\"`\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Deletes a brand logo.",
        "operationId": "BrandLogo_DeleteBrandLogo",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logoType",
            "in": "path",
            "description": "The type of logo. Valid values are:\n\n- `primary` \n- `secondary` \n- `email`",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteBrandLogoByType",
        "x-ds-method": "deleteLogo",
        "x-ds-service": "Accounts",
        "description": "This method deletes a single logo from an account brand.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands/{brandId}/resources": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Returns metadata about the branding resources for an account.",
        "operationId": "BrandResources_GetBrandResourcesList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/brandResourcesList"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBrandResources",
        "x-ds-method": "listResources",
        "x-ds-service": "Accounts",
        "description": "This method returns metadata about the branding resources that are associated with an account.\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/brands/{brandId}/resources/{resourceContentType}": {
      "get": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Returns a branding resource file.",
        "operationId": "BrandResources_GetBrandResources",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceContentType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of brand resource file to return. Valid values are:\n\n- `sending`\n- `signing`\n- `email`\n- `signing_captive`"
          },
          {
            "name": "langcode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 codes for the languages that the brand supports."
          },
          {
            "name": "return_master",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies which resource file data to return. When **true**, only the master resource file is returned. When **false**, only the elements that you modified are returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBrandResourcesByContentType",
        "x-ds-method": "getResource",
        "x-ds-service": "Accounts",
        "description": "This method returns a specific branding resource file.\n\nA brand uses a set of brand resource files to control the sending, signing, email message, and captive (embedded) signing experiences.  You can modify the default email messages and formats in these files and upload them to your brand to customize the user experience.\n\n**Important**: When you upload a modified resource file, only the elements that differ from the master resource file are saved as your resource file. Similarly, when you download your resource files, only the modified elements are included in the file. \n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "AccountBrands"
        ],
        "summary": "Updates a branding resource file.",
        "operationId": "BrandResources_PutBrandResources",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "The id of the brand.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceContentType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The type of brand resource file that you are updating. Valid values are:\n\n- `sending`\n- `signing`\n- `email`\n- `signing_captive`"
          },
          {
            "name": "file.xml",
            "in": "formData",
            "description": "Brand resource XML file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/brandResources"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateBrandResourcesByContentType",
        "x-ds-method": "updateResource",
        "x-ds-service": "Accounts",
        "description": "This method updates a branding resource file.\n\nYou pass in the new version of the resource file in the `Content-Disposition` header. Example:\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"DocuSign_SigningResource_4328673.xml\"`\n\n**Note**: Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).\n\n**Important**: Customizing resource files is an advanced branding configuration option which can significantly impact your account, and should be done only by someone with expertise in XML and HTML. The master resource files are subject to change without notice. If you customize your resource files, after each release, DocuSign recommends you review any changes and update your custom files as needed.\n\nWhen you upload a modified resource file, only the elements that differ from the master resource file are saved as your resource file. Similarly, when you download your resource files, only the modified elements are included in the file.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_batch": {
      "get": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Returns a list of bulk send batch summaries. ",
        "operationId": "BulkSendV2Batch_GetBulkSendBatches",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batch_ids",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of batch IDs to query."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The number of results to report. Must be a value from 1 to 1000.\n\nDefault: 100"
          },
          {
            "name": "start_position",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start position for results. Essentially the number of results to skip before collecting them. Must be a value greater than 0."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The kind of results to collect. Must be one of:\n\n- all\n- failed\n- sent\n- queued"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendBatchSummaries"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBulkSendBatches",
        "x-ds-method": "getBulkSendBatches",
        "x-ds-service": "Uncategorized",
        "description": "Returns a summary of bulk send batches.\n\nUse the `batch_ids` query parameter to narrow the list of batches.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}": {
      "get": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Gets the status of a specific bulk send batch.",
        "operationId": "BulkSendV2Batch_GetBulkSendBatchStatus",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendBatchId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The batch ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendBatchStatus"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBulkSendBatchStatus",
        "x-ds-method": "getBulkSendBatchStatus",
        "x-ds-service": "Uncategorized",
        "description": "Gets the general status of a specific bulk send batch such as:\n\n- number of successes\n- number pending\n- number of errors\n\nThe `bulkErrors` property of the response object contains more information about the errors.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Updates a specific bulk send batch status.",
        "operationId": "BulkSendV2Batch_PutBulkSendBatchStatus",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendBatchId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "bulkSendBatchRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/bulkSendBatchRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendBatchStatus"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateBulkSendBatchStatus",
        "x-ds-method": "updateBulkSendBatchStatus",
        "x-ds-service": "Uncategorized",
        "description": "",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_lists": {
      "get": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Gets bulk send lists",
        "operationId": "BulkSendV2CRUD_GetBulkSendLists",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendingListSummaries"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBulkSendLists",
        "x-ds-method": "getBulkSendLists",
        "x-ds-service": "Uncategorized",
        "description": "This method returns a list of bulk send lists belonging to the current user, as well as basic information about each list.",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Creates a bulk send list",
        "operationId": "BulkSendV2CRUD_PostBulkSendList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The id of the account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendingList",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/bulkSendingList"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendingList"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createBulkSendList",
        "x-ds-method": "createBulkSendList",
        "x-ds-service": "Uncategorized",
        "description": "This method creates a bulk send list that you can use to send an envelope to up to 1,000 recipients at once.\n\nIt returns the following errors:\n\n| Error code                                              | Description                                                                                                                                                                                                                                                                              |\n| :------------------------------------------------------ | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| BULK_SEND_MAX_COPIES_EXCEEDED                           | A bulk sending list cannot specify more than XXX copies in the mailing list. Call the settings API endpoint to find the maximum number of copies in a batch allowed for your account. In almost all cases, the default limit is 1000.                                                    |\n| BULK_SEND_RECIPIENT_IDS_MUST_BE_UNIQUE                  | No two recipientIds can be same within a bulkCopy. Same restriction as a regular envelope applies. Specify unique recipient IDs for each recipient within a bulkCopy (model for envelope in mailing list).                                                                               |\n| BULK_SEND_RECIPIENT_ID_REQUIRED                         | If no RoleName is present, recipientID is required in mailing list's bulkCopy. Add a roleName (that coalesces with template/envelope) or a recipientID.                                                                                                                                  |\n| BULK_SEND_RECIPIENT_NAME_REQUIRED                       | Recipient {0} has no name. Specify a name for the recipient.                                                                                                                                                                                                                             |\n| BULK_SEND_EMAIL_ADDRESS_REQUIRED_FOR_EMAIL_RECIPIENT    | Recipient {0} is an email recipient with no email address. Specify an email for the email recipient.                                                                                                                                                                                     |\n| BULK_SEND_FAX_NUMBER_REQUIRED_FOR_FAX_RECIPIENT         | Recipient {0} is a fax recipient with no fax number. Specify a fax number for the fax recipient.                                                                                                                                                                                         |\n| BULK_SEND_FAX_NUMBER_NOT_VALID                          | Recipient {0} specifies fax number {1}, which is not valid. Specify a valid fax number for the fax recipient.                                                                                                                                                                            |\n| BULK_SEND_EMAIL_ADDRESS_NOT_VALID                       | Recipient {0} specifies email address {1}, which is not a valid email address.  Specify a valid email address for the recipient.                                                                                                                                                         |\n| BULK_SEND_PHONE_NUMBER_REQURED_FOR_SMS_AUTH             | Recipient {0} specifies SMS auth, but no number was provided. Specify a phone number for the SMS auth recipient.                                                                                                                                                                         |\n| BULK_SEND_PHONE_NUMBER_INVALID_FOR_SMS_AUTH             | Recipient {0} specifies phone number {1} for SMS auth, which is not valid. Specify a valid phone number for the SMS auth recipient.                                                                                                                                                      |\n| BULK_SEND_ROLE_NAMES_MUST_BE_UNIQUE                     | Recipient role names cannot be duplicated; role {duplicateRecipientRole} appears multiple times. Use unique roleNames for recipients.                                                                                                                                                    |\n| BULK_SEND_CANNOT_USE_BOTH_ROLE_AND_ID_ON_SAME_RECIPIENT | Recipients cannot have both ID and Role; {0} has both. Specify a roleName or recipientId, but not both for the same recipient.                                                                                                                                                           |\n| BULK_SEND_CANNOT_USE_BOTH_ROLE_AND_ID_IN_SAME_LIST      | Cannot use both recipient role and ID in the same list. Specify a roleName or recipientId, but not both in the same list.                                                                                                                                                                |\n| BULK_SEND_INVALID_ID_CHECK_CONFIGURATION                | Recipient {0} specified SMS authentication, but no SMS auth settings were provided. Provide an SMS auth setting (proper ID configuration) if SMS auth is specified.                                                                                                                      |\n| BULK_SEND_INVALID_SBS_INPUT_CONFIGURATION               | Recipient {0} has more than one signature provider specified. Or signingProviderName is not specified. Or Signature provider : {0} is either unknown or not an available pen for this account. One or more SBS configuration is missing or invalid. The error details provide specifics. |\n| BULK_SEND_TAB_LABELS_MUST_BE_UNIQUE                     | Tab label {0} is duplicated. Needs to be unique. Use a unique tab label.                                                                                                                                                                                                                 |\n| BULK_SEND_TAB_LABEL_REQUIRED                            | Tab label is required. Specify a tab label.                                                                                                                                                                                                                                              |\n| BULK_SEND_TAB_VALUE_REQUIRED                            | Tab Label value is required. Specify a value for the tab label.                                                                                                                                                                                                                          |\n| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_MUST_BE_UNIQUE     | Custom fields must have distinct names. The field {0} appears more than once in a copy. Use unique names for custom fields.                                                                                                                                                              |\n| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_REQUIRED           | All custom fields must have names. Specify a name for the custom field.                                                                                                                                                                                                                  |\n| BULK_SEND_ENVELOPE_CUSTOM_FIELD_VALUE_REQUIRED          | Custom field {0} has no value. A custom field can have an empty value, but it cannot have a null value. Specify a value for the custom field.                                                                                                                                            |",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}": {
      "get": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Gets a specific bulk send list",
        "operationId": "BulkSendV2CRUD_GetBulkSendList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendListId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID of the bulk send list. This property is created after you post a new bulk send list."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendingList"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getBulkSendList",
        "x-ds-method": "getBulkSendList",
        "x-ds-service": "Uncategorized",
        "description": "This method returns all of the details associated with a specific bulk send list that belongs to the current user.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Updates a bulk send list",
        "operationId": "BulkSendV2CRUD_PutBulkSendList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendListId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID of the bulk send list. This property is created after you post a new bulk send list."
          },
          {
            "name": "bulkSendingList",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/bulkSendingList"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendingList"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateBulkSendList",
        "x-ds-method": "updateBulkSendList",
        "x-ds-service": "Uncategorized",
        "description": "This method replaces the definition of an existing bulk send list.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Deletes a bulk send list",
        "operationId": "BulkSendV2CRUD_DeleteBulkSendList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendListId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID of the bulk send list. This property is created after you post a new bulk send list."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendingListSummaries"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteBulkSendList",
        "x-ds-method": "deleteBulkSendList",
        "x-ds-service": "Uncategorized",
        "description": "This method deletes a bulk send list.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}/send": {
      "post": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Creates a bulk send request",
        "operationId": "BulkSendV2Send_PostBulkSendRequest",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendListId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID of the bulk send list. This property is created after you post a new bulk send list."
          },
          {
            "name": "bulkSendRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/bulkSendRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createBulkSendRequest",
        "x-ds-method": "createBulkSendRequest",
        "x-ds-service": "Uncategorized",
        "description": "This method initiates the bulk send process. It generates a bulk send request based on an [existing bulk send list][create_list] and an envelope or template.\n\nConsider using the [BulkSend::createBulkSendTestRequest][create_test] method to test your bulk send list for compatibility with the envelope or template that you want to send first. To learn about the complete bulk send flow, see the [Bulk Send overview][BulkSendOverview].\n\nIf the envelopes were successfully queued for asynchronous processing, the response contains a `batchId` that you can use to get the status of the batch. If a failure occurs, the API returns an error message.\n\n**Note**: Partial success or failure generally does not occur. Only the entire batch is queued for asynchronous processing.\n\nThis method returns the following errors:\n\n| Error code                                                 | Description                                                                                                                                                                                                                                                                                            |\n| :--------------------------------------------------------- | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| BULK_SEND_ENVELOPE_NOT_IN_SENDABLE_STATE                   | Envelope {0} is not in a sendable state. The envelope is not complete. Make sure it has a sendable status, such as `created`.                                                                                                                                                                          |\n| BULK_SEND_ENVELOPE_LIST_CONTAINS_NO_COPIES                 | Cannot send an envelope with a bulk sending list which contains no copies.  The list you're trying to bulk send is empty. Make sure the bulk sending list you're using contains recipients.                                                                                                            |\n| BULK_SEND_ENVELOPE_LIST_CONTAINS_TOO_MANY_COPIES           | Bulk sending list contains more than {0} copies. The list you're trying to bulk send will cause your account to exceed the 1,000-copy limit imposed for all accounts. Try sending two or more separate lists.                                                                                          |\n| BULK_SEND_ENVELOPE_CANNOT_BE_NULL                          | Cannot send a bulk list without an envelope. Specify the envelope ID or template ID for the envelope you want to bulk send.                                                                                                                                                                            |\n| BULK_SEND_BLOB_STORE_ERROR                                 | Could not save copy of bulk sending list. An error writing to the database occurred. Try again. If the error persists, contact DocuSign Support.                                                                                                                                                       |\n| BULK_SEND_ACCOUNT_HAS_TOO_MANY_QUEUED_ENVELOPES            | Cannot send this bulk sending list because doing so would exceed the maximum of {maxCopies} in-flight envelopes. This account currently has {unprocessedEnvelopes} envelopes waiting to be processed. Please try again later.\" .Try again later, or contact DocuSign Support to request a higher tier. |\n| BULK_SEND_ENVELOPE_NOT_FOUND                               | Envelope {envelopeOrTemplateId} does not exist or you do not have permission to access it. The envelopeId or templateId specified could not be found. Specify a valid value.                                                                                                                           |\n| BULK_SEND_LIST_NOT_FOUND                                   | Bulk Sending list {listId} does not exist or you do not have permission to access it. The mailingListId specified could not be found. Specify a valid value.                                                                                                                                           |\n| BULK_SEND_ENVELOPE_HAS_NO_RECIPIENTS                       | Bulk sending copy contains recipients, but the specified envelope does not. The recipients on the envelope and the bulk send list do not match. Make sure the envelope and list are compatible for sending.                                                                                            |\n| BULK_SEND_RECIPIENT_ID_DOES_NOT_EXIST_IN_ENVELOPE          | Recipient {0} does not exist in the envelope. Add the missing recipient to the envelope.                                                                                                                                                                                                               |\n| BULK_SEND_RECIPIENT_ID_DOES_NOT_MATCH                      | Recipient ID {envelopeMember.ID} does not match. Make sure the recipient information in the list and the envelope match up.                                                                                                                                                                            |\n| BULK_SEND_ENVELOPE_HAS_BULK_RECIPIENT                      | Recipient {0} is a bulk recipient.  This is not supported. No legacy 'bulk recipient' allowed. In v2.1 of the eSignature API, you must use a bulk send list instead of a bulk recipient. See the API documentation for details.                                                                        |\n| BULK_SEND_RECIPIENT_ROLE_DOES_NOT_MATCH                    | Recipient Role {envelopeMember.RoleName} does not match. Make sure the recipient information in the list and the envelope is compatible.                                                                                                                                                               |\n| BULK_SEND_DUPLICATE_RECIPIENT_DETECTED                     | Duplicate recipients ({0}) not allowed, unless recipients have unique routing order specified on envelope.                                                                                                                                                                                             |\n| BULK_SEND_ENVELOPE_HAS_NO_TABS                             | Bulk sending copy contains tabs, but the specified envelope does not. List and envelope tabs cannot be coalesced. Make sure they are compatible for sending.                                                                                                                                           |\n| BULK_SEND_TAB_LABEL_DOES_NOT_EXIST_IN_ENVELOPE             | Tab with label {0} does not exist in envelope. Add the tab label to the envelope, remove the label from the list, or make sure you're specifying the correct list and envelope.                                                                                                                        |\n| BULK_SEND_TAB_DOES_NOT_MATCH                               | Tab {0} does not match {0} in envelope. A tab exists on the list that does not match or is missing on the envelope. Make sure the tabs on the list and the envelope match.                                                                                                                             |\n| BULK_SEND_ENVELOPE_HAS_NO_ENVELOPE_CUSTOM_FIELDS           | Bulk sending copy contains custom fields, but the specified envelope does not. There are custom fields on the list that the envelope does not have. Make sure that any custom fields on the list and the envelope match.                                                                               |\n| BULK_SEND_ENVELOPE_CUSTOM_FIELD_DOES_NOT_EXIST_IN_ENVELOPE | Custom field {0} does not exist in the envelope. Either add the custom field on the list to the envelope, remove the custom field from the list, or make sure you're specifying the correct list and envelope.                                                                                         |\n| BULK_SEND_ENVELOPE_CUSTOM_FIELD_NAME_DOES_NOT_MATCH        | Custom field names must match. {0} and {1} do not match. The custom field names on the list and the envelope do not match. Use identical names for both.                                                                                                                                               |\n\n[create_list]:      https://developers.docusign.com/docs/esign-rest-api/reference/BulkEnvelopes/BulkSend/createBulkSendList\n[create_test]:      https://developers.docusign.com/docs/esign-rest-api/reference/BulkEnvelopes/BulkSend/createBulkSendTestRequest\n[BulkSendOverview]: https://developers.docusign.com/docs/esign-rest-api/reference/BulkEnvelopes/BulkSend\n\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/bulk_send_lists/{bulkSendListId}/test": {
      "post": {
        "tags": [
          "BulkSend"
        ],
        "summary": "Creates a bulk send test",
        "operationId": "BulkSendV2Test_PostBulkSendTestRequest",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "bulkSendListId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The GUID of the bulk send list. This property is created after you post a new bulk send list."
          },
          {
            "name": "bulkSendRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/bulkSendRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/bulkSendTestResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createBulkSendTestRequest",
        "x-ds-method": "createBulkSendTestRequest",
        "x-ds-service": "Uncategorized",
        "description": "This method tests a bulk send list for compatibility with the envelope or template that you want to send. For example, a template that has three roles is not compatible with a bulk send list that has only two recipients. For this reason, you might want to test compatibility first.\n\nA successful test result returns `true` for the `canBeSent` property. An unsuccessful test returns a JSON response that contains information about the errors that occurred.\n\nIf the test is successful, you can then send the envelope or template by using the [BulkSend::createBulkSendRequest][BulkSendRequest] method.\n\n## Envelope Compatibility Checks\n\nThis section describes the envelope compatibility checks that the system performs.\n\n**Top-Level Issues**\n\n- Envelopes must be in a sendable state.\n- The bulk send list must contain at least one copy (instance of an envelope), and no more than the maximum number of copies allowed for the account.\n- The envelope must not be null and must be visible to the current user.\n- The account cannot have more queued envelopes than the maximum number configured for the account.\n- The bulk send list must exist.\n\n**Recipients**\n\n- The envelope must have recipients.\n- If you are using an envelope, all of the recipients defined in the bulk send list must have corresponding recipient IDs in the envelope definition. If you are using a template, you must either match the recipient IDs or role IDs.\n- The envelope cannot contain a bulk recipient (an artifact of the legacy version of DocuSign's bulk send\n  functionality).\n\n**Recipient Tabs**\n\n- Every `recipient ID, tab label` pair in the bulk send list must correspond to a tab in the envelope.\n\n**Custom Fields**\n\n- Each envelope-level custom field in the bulk send list must correspond to the name of a `customField` in the\n  envelope definition. You do not have to match the recipient-level custom fields.\n\n[BulkSendRequest]:  https://developers.docusign.com/docs/esign-rest-api/reference/BulkEnvelopes/BulkSend/createBulkSendRequest\n\n\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/captive_recipients/{recipientPart}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes the signature for one or more captive recipient records.",
        "description": "This method deletes the signature for one or more captive recipient records. It is primarily used for testing. This functionality provides a way to reset the signature associated with a client user ID so that a new signature can be created the next time the client user ID is used.",
        "operationId": "CaptiveRecipients_DeleteCaptiveRecipientsPart",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipientPart",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signature is the only supported value. "
          },
          {
            "name": "captiveRecipientInformation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/captiveRecipientInformation"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/captiveRecipientInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteCaptiveRecipient",
        "x-ds-method": "deleteCaptiveRecipient",
        "x-ds-service": "Accounts",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/chunked_uploads": {
      "post": {
        "tags": [
          "ChunkedUploads"
        ],
        "summary": "Initiate a new chunked upload.",
        "operationId": "ChunkedUploads_PostChunkedUploads",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chunkedUploadRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/chunkedUploadRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/chunkedUploadResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createChunkedUpload",
        "x-ds-api-status": "beta",
        "x-ds-method": "create",
        "x-ds-service": "Envelopes",
        "description": "This method initiates a new chunked upload with the first part of the content.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v2.1/accounts/{accountId}/chunked_uploads/{chunkedUploadId}": {
      "get": {
        "tags": [
          "ChunkedUploads"
        ],
        "summary": "Retrieves metadata about a chunked upload.",
        "operationId": "ChunkedUploads_GetChunkedUpload",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account number (int) or account ID GUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chunkedUploadId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the chunked upload. "
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
[...]
