{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "DocuSign Click API",
    "description": "DocuSign Click lets you capture consent to standard agreement terms with a single click: terms and conditions, terms of service, terms of use, privacy policies, and more. The Click API lets you include this customizable clickwrap solution in your DocuSign integrations.",
    "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
    "contact": {
      "name": "DocuSign Developer Center",
      "url": "https://developers.docusign.com/",
      "email": "devcenter@docusign.com"
    }
  },
  "host": "www.docusign.net",
  "basePath": "/clickapi",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/service_information": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets the current version and other information about the Click API.",
        "operationId": "ServiceInformation_GetServiceInformation",
        "consumes": [],
        "produces": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/serviceInformation"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getServiceInformation",
        "x-ds-method": "getServiceInformation",
        "x-ds-service": "Uncategorized",
        "description": "The response includes information about the version of the Click API.\n\n```\n{\n  \"serviceVersions\": [\n    {\n      \"version\": \"v1\",\n      \"versionUrl\": \"https://demo.docusign.net/clickapi/v1\"\n    }\n  ],\n  \"buildVersion\": \"20.4.0.16708 (20.4.00.00_newt.16708+g236a94)\",\n  \"linkedSites\": [\n    \"https://demo.docusign.net\"\n  ]\n}\n```",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets all the clickwraps for an account.",
        "operationId": "Clickwraps_GetClickwraps",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The earliest date to return agreements from."
          },
          {
            "name": "ownerUserId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The user ID of the owner."
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The page number to return.\n"
          },
          {
            "name": "shared",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The status of the clickwraps to filter by. One of:\n\n- `active`\n- `inactive`\n\n"
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The latest date to return agreements from."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionsResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwraps",
        "x-ds-method": "getClickwraps",
        "x-ds-service": "Uncategorized",
        "description": "Gets all the clickwraps for an account.\n",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Creates a clickwrap for an account.",
        "operationId": "Clickwraps_PostClickwrap",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/clickwrapRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createClickwrap",
        "x-ds-method": "createClickwrap",
        "x-ds-service": "Uncategorized",
        "description": "Creates a clickwrap for an account and returns the response with created agreement.\n",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Deletes clickwraps for an account.",
        "operationId": "Clickwraps_DeleteClickwraps",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of clickwrap IDs to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapsDeleteResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteClickwraps",
        "x-ds-method": "deleteClickwraps",
        "x-ds-service": "Uncategorized",
        "description": "Deletes all clickwraps for an account\nor only the ones specified in the\n`clickwrapIds` query parameter.\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets a  single clickwrap object.",
        "operationId": "Clickwraps_GetClickwrap",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrap",
        "x-ds-method": "getClickwrap",
        "x-ds-service": "Uncategorized",
        "description": "Gets a  single clickwrap object.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Updates the user ID of a clickwrap.",
        "operationId": "Clickwraps_PutClickwrap",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "clickwrapTransferRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/clickwrapTransferRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateClickwrap",
        "x-ds-method": "updateClickwrap",
        "x-ds-service": "Uncategorized",
        "description": "Updates the user ID of a clickwrap. You specify the old and the new user ID in the request body.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Deletes a clickwrap and all of its versions.",
        "operationId": "Clickwraps_DeleteClickwrap",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versions",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of versions to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionsDeleteResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteClickwrap",
        "x-ds-method": "deleteClickwrap",
        "x-ds-service": "Uncategorized",
        "description": "Deletes the clickwrap specified by `clickwrapId` and all of its versions.\nActive clickwraps are not deleted",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements": {
      "post": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Checks if a user has agreed to a clickwrap.",
        "operationId": "UserAgreements_PostHasAgreed",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "userAgreementRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/userAgreementRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/userAgreementResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createHasAgreed",
        "x-ds-method": "createHasAgreed",
        "x-ds-service": "Uncategorized",
        "description": "Checks if a user has agreed to a clickwrap and returns a response with the agreement URL.\n\nReturns HTTP status code OK if the user has no pending agreement.\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "operationId": "UserAgreements_GetAgreement",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The agreement ID."
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/userAgreementResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getAgreement",
        "x-ds-method": "getAgreement",
        "x-ds-service": "Uncategorized",
        "summary": "Gets a specific agreement for a specified clickwrap.",
        "description": "Gets the agreement specified by `agreementId`.\n\nYou can omit `agreementId` to get the latest agreement.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}/download": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "operationId": "UserAgreements_GetAgreementPdf",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The agreement ID."
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getAgreementPdf",
        "x-ds-method": "getAgreementPdf",
        "x-ds-service": "Uncategorized",
        "summary": "Gets the completed user agreement PDF.",
        "description": "Gets the PDF of  `agreementId` for the clickwrap specified by `ciickwrapId`.\n\nThe response to this method is the bytes of the PDF file.\nThe response includes the HTTP header `application/pdf.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/users": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Get user agreements",
        "operationId": "UserAgreements_GetClickwrapAgreements",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "client_user_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The client ID.\n"
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The earliest date to return agreements from."
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The page number to return.\n"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The status of the clickwraps to return."
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The latest date to return agreements from."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapAgreementsResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrapAgreements",
        "x-ds-method": "getClickwrapAgreements",
        "x-ds-service": "Uncategorized",
        "description": "Get user agreements\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions": {
      "post": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Creates a new clickwrap version.",
        "operationId": "ClickwrapVersions_PostClickwrapVersion",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "clickwrapRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/clickwrapRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "createClickwrapVersion",
        "x-ds-method": "createClickwrapVersion",
        "x-ds-service": "Uncategorized",
        "description": "Creates a new clickwrap version.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Deletes the versions of a clickwrap.",
        "operationId": "ClickwrapVersions_DeleteClickwrapVersions",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "clickwrapVersionIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of clickwrap version IDs to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionsDeleteResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteClickwrapVersions",
        "x-ds-method": "deleteClickwrapVersions",
        "x-ds-service": "Uncategorized",
        "description": "Deletes all versions of a clickwrap,\nor only the ones specified in the\n`clickwrapVersionIds` query parameter.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionId}": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets a specific version from a clickwrap.",
        "operationId": "ClickwrapVersions_GetClickwrapVersion",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the version."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrapVersion",
        "x-ds-method": "getClickwrapVersion",
        "x-ds-service": "Uncategorized",
        "description": "Gets the version specified by `versionId`  from the clickwrap `clickwrapId`.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Updates a specific version of a clickwrap.",
        "operationId": "ClickwrapVersions_PutClickwrapVersion",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the version."
          },
          {
            "name": "clickwrapRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/clickwrapRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateClickwrapVersion",
        "x-ds-method": "updateClickwrapVersion",
        "x-ds-service": "Uncategorized",
        "description": "Updates the clickwrap version `versionId` of the clickwrap `clickwrapId`.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Deletes a specific version of a clickwrap.",
        "operationId": "ClickwrapVersions_DeleteClickwrapVersion",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the version."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionDeleteResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteClickwrapVersion",
        "x-ds-method": "deleteClickwrapVersion",
        "x-ds-service": "Uncategorized",
        "description": "Deletes the clickwrap version `versionId` of the clickwrap `clickwrapId`.",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionId}/users": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets the agreement responses for a clickwrap version.",
        "operationId": "UserAgreements_GetClickwrapVersionAgreements",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the version."
          },
          {
            "name": "client_user_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The earliest date to return agreements from."
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The page number to return.\n"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The latest date to return agreements from."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapAgreementsResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrapVersionAgreements",
        "x-ds-method": "getClickwrapVersionAgreements",
        "x-ds-service": "Uncategorized",
        "description": "Gets the agreement responses for a specific version. ",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets a clickwrap version by specifying its version number.",
        "operationId": "ClickwrapVersions_GetClickwrapVersionByNumber",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Version of the clickwrap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrapVersionByNumber",
        "x-ds-method": "getClickwrapVersionByNumber",
        "x-ds-service": "Uncategorized",
        "description": "Gets the clickwrap version specified by `versionNumber` from the clickwrap `clickwrapId`.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Updates a clickwrap version by specifying its version number.",
        "operationId": "ClickwrapVersions_PutClickwrapVersionByNumber",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Version of the clickwrap."
          },
          {
            "name": "clickwrapRequest",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/clickwrapRequest"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "updateClickwrapVersionByNumber",
        "x-ds-method": "updateClickwrapVersionByNumber",
        "x-ds-service": "Uncategorized",
        "description": "Updates the clickwrap version specified by `versionNumber` of the clickwrap `clickwrapId`.\n",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Deletes a clickwrap version from a clickwrap by specifying its version number.",
        "operationId": "ClickwrapVersions_DeleteClickwrapVersionByNumber",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Version of the clickwrap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapVersionSummaryResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "deleteClickwrapVersionByNumber",
        "x-ds-method": "deleteClickwrapVersionByNumber",
        "x-ds-service": "Uncategorized",
        "description": "Deletes the clickwrap version specified by `versionNumber` from the clickwrap `clickwrapId`.\n",
        "x-ds-in-sdk": true
      },
      "parameters": []
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{versionNumber}/users": {
      "get": {
        "tags": [
          "ClickWraps"
        ],
        "summary": "Gets the agreement responses for a clickwrap version",
        "operationId": "UserAgreements_GetClickwrapVersionAgreementsByNumber",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n"
          },
          {
            "name": "clickwrapId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the clickwrap."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Version of the clickwrap."
          },
          {
            "name": "client_user_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The client user ID."
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The earliest date to return agreements from."
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The page number to return.\n"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional. The latest date to return agreements from."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/clickwrapAgreementsResponse"
            }
          },
          "400": {
            "description": "Error encountered.",
            "schema": {
              "$ref": "#/definitions/errorDetails"
            }
          }
        },
        "deprecated": false,
        "x-ds-methodname": "getClickwrapVersionAgreementsByNumber",
        "x-ds-method": "getClickwrapVersionAgreementsByNumber",
        "x-ds-service": "Uncategorized",
        "description": "Gets the agreement responses for a clickwrap version",
        "x-ds-in-sdk": true
      },
      "parameters": []
    }
  },
  "definitions": {
    "clickwrapAgreementsResponse": {
      "type": "object",
      "properties": {
        "beginCreatedOn": {
          "description": "User agreements from this datetime.",
          "type": "object"
        },
        "minimumPagesRemaining": {
          "format": "int32",
          "description": "Number of pages remaining in the response.",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "The number of the current page.",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "description": "The number of items per page.",
          "type": "integer"
        },
        "userAgreements": {
          "description": "An array of user agreements.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/userAgreementResponse"
          }
        }
      },
      "x-ds-definition-name": "clickwrapAgreementsResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapDeleteResponse": {
      "type": "object",
      "properties": {
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "deletionMessage": {
          "description": "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Clickwrap is already deleted.\n- `deletionSuccess`: Successfully deleted the clickwrap.\n- `deletionFailure`: Failed to delete the clickwrap.\n- `cannotDelete`: Active clickwrap version cannot be deleted.",
          "type": "string"
        },
        "deletionSuccess": {
          "description": "**True** if the clickwrap was deleted successfully. **False** otherwise.",
          "type": "boolean"
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapDeleteResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapRequest": {
      "type": "object",
      "properties": {
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "displaySettings": {
          "$ref": "#/definitions/displaySettings",
          "description": "Display settings for this clickwrap."
        },
        "documents": {
          "description": "An array of documents.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/document"
          }
        },
        "fieldsToNull": {
          "description": "Specifies whether `scheduledReacceptance` and `scheduledDate` should be cleared. May be one of:\n\n- `\"scheduledReacceptance\"`\n- `\"scheduledDate\"`\n- `\"scheduledReacceptance,scheduledDate\"`\n",
          "type": "string"
        },
        "isMajorVersion": {
          "description": "When **true**, the next version created is a major version. When **false** the next version created is minor.",
          "type": "boolean"
        },
        "isShared": {
          "description": "",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the clickwrap.",
          "type": "string"
        },
        "requireReacceptance": {
          "description": "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented.",
          "type": "boolean"
        },
        "scheduledDate": {
          "description": "The time and date when this clickwrap is activated.",
          "type": "object"
        },
        "scheduledReacceptance": {
          "$ref": "#/definitions/clickwrapScheduledReacceptance",
          "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "object"
        },
        "transferFromUserId": {
          "description": "The user ID of current owner of the clickwrap.",
          "type": "string"
        },
        "transferToUserId": {
          "description": "The user ID of the new owner of the clickwrap.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapRequest",
      "description": "Request body for working with clickwrap.",
      "x-ms-summary": "Request body for working with clickwrap."
    },
    "clickwrapScheduledReacceptance": {
      "type": "object",
      "properties": {
        "recurrenceInterval": {
          "format": "int32",
          "description": "The time between recurrences specified in `recurrenceIntervalType` units.\n\nThe minimum and maximum values depend on `recurrenceIntervalType`:\n\n- `days`: 1 - 365\n- `weeks`: 1 - 52\n- `months`: 1 - 12\n- `years`: 1",
          "type": "integer"
        },
        "recurrenceIntervalType": {
          "description": "The units of the `recurrenceInterval`. Must be one of:\n\n- `days`\n- `weeks`\n- `month`\n- `years`\n",
          "type": "string"
        },
        "startDateTime": {
          "description": "The date when the recurrence interval starts.",
          "type": "object"
        }
      },
      "x-ds-definition-name": "clickwrapScheduledReacceptance",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapsDeleteResponse": {
      "type": "object",
      "properties": {
        "clickwraps": {
          "description": "",
          "type": "array",
          "items": {
            "$ref": "#/definitions/clickwrapDeleteResponse"
          }
        }
      },
      "x-ds-definition-name": "clickwrapsDeleteResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapTransferRequest": {
      "type": "object",
      "properties": {
        "transferFromUserId": {
          "description": "ID of the user to transfer from.",
          "type": "string"
        },
        "transferToUserId": {
          "description": "ID of the user to transfer to.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapTransferRequest",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersion": {
      "type": "object",
      "properties": {
        "clickwrapVersionId": {
          "description": "The unique version ID, a GUID, of this clickwrap version.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time that the clickwrap was created.",
          "type": "object"
        },
        "lastModified": {
          "description": "The time that the clickwrap was last modified.",
          "type": "object"
        },
        "lastModifiedBy": {
          "description": "The user ID of the last user who modified this clickwrap.",
          "type": "string"
        },
        "ownerUserId": {
          "description": "The user ID of the owner of this clickwrap.",
          "type": "string"
        },
        "requireReacceptance": {
          "description": "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented.",
          "type": "boolean"
        },
        "scheduledDate": {
          "description": "The time and date when this clickwrap is activated.",
          "type": "object"
        },
        "scheduledReacceptance": {
          "$ref": "#/definitions/clickwrapScheduledReacceptance",
          "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version.",
          "type": "string"
        },
        "versionNumber": {
          "description": "Version of the clickwrap.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapVersion",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionDeleteResponse": {
      "type": "object",
      "properties": {
        "clickwrapVersionId": {
          "description": "The unique version ID, a GUID, of this clickwrap version.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time that the clickwrap was created.",
          "type": "object"
        },
        "deletionMessage": {
          "description": "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Clickwrap is already deleted.\n- `deletionSuccess`: Successfully deleted the clickwrap.\n- `deletionFailure`: Failed to delete the clickwrap.\n- `cannotDelete`: Active clickwrap version cannot be deleted.",
          "type": "string"
        },
        "deletionSuccess": {
          "description": "**True** if the clickwrap was deleted successfully. **False** otherwise.",
          "type": "boolean"
        },
        "lastModified": {
          "description": "The time that the clickwrap was last modified.",
          "type": "object"
        },
        "lastModifiedBy": {
          "description": "The user ID of the last user who modified this clickwrap.",
          "type": "string"
        },
        "ownerUserId": {
          "description": "The user ID of the owner of this clickwrap.",
          "type": "string"
        },
        "requireReacceptance": {
          "description": "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented.",
          "type": "boolean"
        },
        "scheduledDate": {
          "description": "The time and date when this clickwrap is activated.",
          "type": "object"
        },
        "scheduledReacceptance": {
          "$ref": "#/definitions/clickwrapScheduledReacceptance",
          "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version.",
          "type": "string"
        },
        "versionNumber": {
          "description": "Version of the clickwrap.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapVersionDeleteResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n",
          "type": "string"
        },
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "clickwrapVersionId": {
          "description": "The unique version ID, a GUID, of this clickwrap version.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time that the clickwrap was created.",
          "type": "object"
        },
        "displaySettings": {
          "$ref": "#/definitions/displaySettings",
          "description": "Display settings for a clickwrap."
        },
        "documents": {
          "description": "An array of documents.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/document"
          }
        },
        "lastModified": {
          "description": "The time that the clickwrap was last modified.",
          "type": "object"
        },
        "lastModifiedBy": {
          "description": "The user ID of the last user who modified this clickwrap.",
          "type": "string"
        },
        "ownerUserId": {
          "description": "The user ID of the owner of this clickwrap.",
          "type": "string"
        },
        "requireReacceptance": {
          "description": "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented.",
          "type": "boolean"
        },
        "scheduledDate": {
          "description": "The time and date when this clickwrap is activated.",
          "type": "object"
        },
        "scheduledReacceptance": {
          "$ref": "#/definitions/clickwrapScheduledReacceptance",
          "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version.",
          "type": "string"
        },
        "versionNumber": {
          "description": "Version of the clickwrap.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapVersionResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionsDeleteResponse": {
      "type": "object",
      "properties": {
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "versions": {
          "description": "An array delete responses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/clickwrapVersionDeleteResponse"
          }
        }
      },
      "x-ds-definition-name": "clickwrapVersionsDeleteResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionsPagedResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n",
          "type": "string"
        },
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "minimumPagesRemaining": {
          "format": "int32",
          "description": "Number of pages remaining in the response.",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "The number of the current page.",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "description": "The number of items per page.",
          "type": "integer"
        },
        "versions": {
          "description": "An array of clickwrap versions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/clickwrapVersion"
          }
        }
      },
      "x-ds-definition-name": "clickwrapVersionsPagedResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionsResponse": {
      "type": "object",
      "properties": {
        "clickwraps": {
          "description": "An array of `clickwrapVersionSummaryResponse` objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
          }
        },
        "minimumPagesRemaining": {
          "format": "int32",
          "description": "Number of pages remaining in the response.",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "The number of the current page.",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "description": "The number of items per page.",
          "type": "integer"
        }
      },
      "x-ds-definition-name": "clickwrapVersionsResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "clickwrapVersionSummaryResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n",
          "type": "string"
        },
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clickwrapName": {
          "description": "The name of the clickwrap.",
          "type": "string"
        },
        "clickwrapVersionId": {
          "description": "The unique version ID, a GUID, of this clickwrap version.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time that the clickwrap was created.",
          "type": "object"
        },
        "lastModified": {
          "description": "The time that the clickwrap was last modified.",
          "type": "object"
        },
        "lastModifiedBy": {
          "description": "The user ID of the last user who modified this clickwrap.",
          "type": "string"
        },
        "ownerUserId": {
          "description": "The user ID of the owner of this clickwrap.",
          "type": "string"
        },
        "requireReacceptance": {
          "description": "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented.",
          "type": "boolean"
        },
        "scheduledDate": {
          "description": "The time and date when this clickwrap is activated.",
          "type": "object"
        },
        "scheduledReacceptance": {
          "$ref": "#/definitions/clickwrapScheduledReacceptance",
          "description": "Specifies the interval between reacceptances in days, weeks, months, or years."
        },
        "status": {
          "description": "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version.",
          "type": "string"
        },
        "versionNumber": {
          "description": "Version of the clickwrap.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "clickwrapVersionSummaryResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "displaySettings": {
      "type": "object",
      "properties": {
        "actionButtonAlignment": {
          "description": "Position of the Accept button in the agreement. One of \n\n- `right`\n- `left`\n",
          "type": "string"
        },
        "allowClientOnly": {
          "description": "When **true**, this agreement can be be used in client-only integrations",
          "type": "boolean"
        },
        "allowedHosts": {
          "description": "Hosts that can host the clickwrap.\n\nIt is an error if the clickwrap didn't come from one of these hosts.\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brandId": {
          "description": "The signing brand ID.",
          "type": "string"
        },
        "consentButtonText": {
          "description": "Text on the agree button.",
          "type": "string"
        },
        "consentText": {
          "description": "The text on agree button.",
          "type": "string"
        },
        "declineButtonText": {
          "description": "The text on the decline button.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user agreement.",
          "type": "string"
        },
        "documentDisplay": {
          "description": "Display type: link or document",
          "type": "string"
        },
        "downloadable": {
          "description": "**True** if the agreement is downloadable.",
          "type": "boolean"
        },
        "format": {
          "description": "Display format: inline or modal.",
          "type": "string"
        },
        "hasDeclineButton": {
          "description": "**True** if the agreement has a decline checkbox.",
          "type": "boolean"
        },
        "hostOrigin": {
          "description": "The host origin.\n",
          "type": "string"
        },
        "mustRead": {
          "description": "**True** if the user needs to scroll to the end of the document.\n",
          "type": "boolean"
        },
        "mustView": {
          "description": "**True** if the user must view the document.\n",
          "type": "boolean"
        },
        "recordDeclineResponses": {
          "description": "When **true**, this agreement records decline actions.",
          "type": "boolean"
        },
        "requireAccept": {
          "description": "**True** if accept is required.\n",
          "type": "boolean"
        },
        "sendToEmail": {
          "description": "**True** if send to email is applicable.\n",
          "type": "boolean"
        }
      },
      "x-ds-definition-name": "displaySettings",
      "description": "Information about how an agreement is displayed.",
      "x-ms-summary": "Information about how an agreement is displayed."
    },
    "document": {
      "type": "object",
      "properties": {
        "documentBase64": {
          "description": "The base64-encoded contents of the document.",
          "type": "string"
        },
        "documentHtml": {
          "description": "The HTML representation of the document.",
          "type": "string"
        },
        "documentName": {
          "description": "The name of the document.",
          "type": "string"
        },
        "fileExtension": {
          "description": "The file extension of the document.",
          "type": "string"
        },
        "order": {
          "format": "int32",
          "description": "The order of document layout.",
          "type": "integer"
        }
      },
      "x-ds-definition-name": "document",
      "description": "Information about a document.",
      "x-ms-summary": "Information about a document."
    },
    "errorDetails": {
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "The error code.",
          "type": "string"
        },
        "message": {
          "description": "The error message.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "errorDetails",
      "description": "Error details.",
      "x-ms-summary": "Error details."
    },
    "serviceInformation": {
      "type": "object",
      "properties": {
        "buildBranch": {
          "description": "",
          "type": "string"
        },
        "buildBranchDeployedDateTime": {
          "description": "",
          "type": "string"
        },
        "buildSHA": {
          "description": "",
          "type": "string"
        },
        "buildVersion": {
          "description": "The internal build version information.",
          "type": "string"
        },
        "linkedSites": {
          "description": "An array of URLs (strings) of related sites.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceVersions": {
          "description": "An array of `serviceVersion` objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/serviceVersion"
          }
        }
      },
      "x-ds-definition-name": "serviceInformation",
      "description": "",
      "x-ms-summary": ""
    },
    "serviceVersion": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The human-readable semver version string.",
          "type": "string"
        },
        "versionUrl": {
          "description": "The URL where this version of the API can be found.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "serviceVersion",
      "description": "",
      "x-ms-summary": ""
    },
    "userAgreementRequest": {
      "type": "object",
      "properties": {
        "clientUserId": {
          "description": "The user ID of the client.",
          "type": "string"
        },
        "hostOrigin": {
          "description": "The host origin.\n",
          "type": "string"
        },
        "metadata": {
          "description": "A customer-defined string you can use in requests. This string will appear in the corresponding response.",
          "type": "string"
        }
      },
      "x-ds-definition-name": "userAgreementRequest",
      "description": "",
      "x-ms-summary": ""
    },
    "userAgreementResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings.\n",
          "type": "string"
        },
        "agreedOn": {
          "description": "Date that the client last completed the agreement.\n\nThis property is null if `agreementUrl` is not null and `status` is not  `agreed`.",
          "type": "object"
        },
        "agreementId": {
          "description": "The agreement ID.",
          "type": "string"
        },
        "agreementUrl": {
          "description": "When not null, an agreement is required for user specified by  `clientUserId`.\n\nWhen missing the user specified by `clientUserId`\nhas already agreed and does not require a new acceptance.\n\nUse this URL to render the agreement in a web page.\n\n<!--\nor redirected to when providing redirect_url as a query paramter.\n-->\n",
          "type": "string"
        },
        "clickwrapId": {
          "description": "The ID of the clickwrap.",
          "type": "string"
        },
        "clientUserId": {
          "description": "The user ID of the client.",
          "type": "string"
        },
        "consumerDisclosureHtml": {
          "description": "The customer-branded HTML with the Electronic Record and Signature Disclosure information",
          "type": "string"
        },
        "createdOn": {
          "description": "The date when the clickwrap was created. May be null.",
          "type": "object"
        },
        "declinedOn": {
          "description": "The date when the user declined the most recent required agreement.\n\nThis property is valid only when `status` is `declined`. Otherwise it is null.",
          "type": "object"
        },
        "documents": {
          "description": "An array of documents.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/document"
          }
        },
        "metadata": {
          "description": "A customer-defined string you can use in requests. This string will appear in the corresponding response.",
          "type": "string"
        },
        "settings": {
          "$ref": "#/definitions/displaySettings",
          "description": "The display settings for this agreement."
        },
        "status": {
          "description": "User agreement status. One of:\n\n- `created`\n- `agreed`\n- `declined`",
          "type": "string"
        },
        "version": {
          "description": "The human-readable semver version string.",
          "type": "string"
        },
        "versionId": {
          "description": "The ID of the version.",
          "type": "string"
        },
        "versionNumber": {
          "format": "int32",
          "description": "Version of the clickwrap.",
          "type": "integer"
        }
      },
      "x-ds-definition-name": "userAgreementResponse",
      "description": "",
      "x-ms-summary": ""
    },
    "ClickWraps": {
      "type": "object",
      "properties": {
        "clickwraps": {
          "description": "An array of clickwraps.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/clickwrapVersionSummaryResponse"
          }
        },
        "minimumPagesRemaining": {
          "format": "int32",
          "description": "Number of pages remaining in the response.",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "The number of the current page.",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "description": "The number of items per page.",
          "type": "integer"
        }
      },
      "x-ds-definition-name": "clickwrapVersionsResponse",
      "description": "A paged collection of clickwraps.",
      "x-ds-category": "Accounts",
      "x-ds-order": "10",
      "x-ms-summary": "A paged collection of clickwraps."
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "x-ds-allow-editing": false,
  "tags": [
    {
      "name": "ClickWraps",
      "description": ""
    }
  ],
  "x-ds-categories": [
    {
      "name": "Accounts",
      "summary": "DocuSign Click enables companies to capture consent to standard agreement terms with a single click.",
      "description": "DocuSign Click lets you capture consent to standard agreement terms with a single click: terms and conditions, terms of service, terms of use, privacy policies, and more. The Click API lets you include this customizable clickwrap solution in your DocuSign integrations.\n\n"
    }
  ]
}