{
  "swagger": "2.0",
  "info": {
    "title": "DocuSign Rooms API - v2",
    "version": "v2",
    "description": "An API for an integrator to access the features of DocuSign Rooms",
    "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
    "contact": {
      "name": "DocuSign Developer Center",
      "url": "https://developers.docusign.com",
      "email": "devcenter@docusign.com"
    }
  },
  "host": "rooms.docusign.com",
  "basePath": "/restapi",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "Rooms API Reference",
    "url": "https://developers.docusign.com/docs/rooms-api/reference/"
  },
  "paths": {
    "/v2/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets account information.",
        "operationId": "Accounts_GetAccountInformation",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Account information successfully retrieved",
            "schema": {
              "$ref": "#/definitions/AccountSummary"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetAccountInformation",
        "x-ds-method": "GetAccountInformation",
        "x-ds-service": "Accounts",
        "description": "Returns details about a company account.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/documents/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Gets information about or the contents of a document.",
        "operationId": "Documents_GetDocument",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "description": "(Required) The id of the document.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeContents",
            "description": "(Optional) When set to **true**, includes the contents of the document in the `base64Contents` property of the response. The default value is **false**.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Document successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetDocument",
        "x-ds-method": "GetDocument",
        "x-ds-service": "Documents",
        "description": "Returns information about a document in a room. You can optionally request the contents of the document, which is returned in base64-encoded format.\n\nTo find the `documentId` of the document that you want to retrieve, use the Rooms::GetDocuments method.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Deletes a specified document.",
        "operationId": "Documents_DeleteDocument",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "description": "The ID of the document.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Document has been successfully deleted."
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "DeleteDocument",
        "x-ds-method": "DeleteDocument",
        "x-ds-service": "Documents",
        "description": "Permanently deletes a document. To find the `documentId` of a document that you want to delete, use the Rooms::GetDocuments method.\n\nIf the document is deleted successfully, the HTTP response code is 204 (No Content), so the response body is empty.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/documents/{documentId}/users": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Grants a user access to a document.",
        "operationId": "Documents_CreateDocumentUser",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "description": "The ID of the document.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DocumentUserForCreate"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "User successfully granted access to document.",
            "schema": {
              "$ref": "#/definitions/DocumentUser"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateDocumentUser",
        "x-ds-method": "CreateDocumentUser",
        "x-ds-service": "Documents",
        "description": "Grants a user access to a document. You specify the user's `userId` in the request body. The response is an object that specifies the access the user has.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/esign_permission_profiles": {
      "get": {
        "tags": [
          "ESignPermissionProfiles"
        ],
        "summary": "Gets eSignature Permission Profiles.",
        "operationId": "ESignPermissionProfiles_GetESignPermissionProfiles",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Permission profiles successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/ESignPermissionProfileList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetESignPermissionProfiles",
        "x-ds-method": "GetESignPermissionProfiles",
        "x-ds-service": "ESignPermissionProfiles",
        "description": "When you create or invite a new member in Rooms, the system creates an eSignature account for the member at the same time. This method returns a list of the eSignature permission profiles that the current user may be able to assign to a new member. The current user may not assign a permission higher than their own permission.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/external_form_fill_sessions": {
      "post": {
        "tags": [
          "ExternalFormFillSessions"
        ],
        "summary": "Creates an external form fill session.",
        "operationId": "ExternalFormFillSessions_CreateExternalFormFillSession",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExternalFormFillSessionForCreate"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExternalFormFillSession"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateExternalFormFillSession",
        "x-ds-method": "CreateExternalFormFillSession",
        "x-ds-service": "ExternalFormFillSessions",
        "description": "Returns a URL for a new external form fill session, based on the `roomId` and `formId` that you specify in the `formFillSessionForCreate` request body.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/field_sets/{fieldSetId}": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Gets a field set.",
        "operationId": "Fields_GetFieldSet",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fieldSetId",
            "description": "(Required) The id of the field set.\n\nExample: `4aef602b-xxxx-xxxx-xxxx-08d76696f678`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "fieldsCustomDataFilters",
            "description": "(Optional) An comma-separated list that limits the fields to return:\n\n- `IsRequiredOnCreate`: include fields that are required in room creation.\n- `IsRequiredOnSubmit`: include fields that are required when submitting a room for review.\n",
            "type": "array",
            "items": {
              "enum": [
                "None",
                "IsRequiredOnCreate",
                "IsRequiredOnSubmit"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "FieldSet successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/FieldSet"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFieldSet",
        "x-ds-method": "GetFieldSet",
        "x-ds-service": "Fields",
        "description": "Returns a field set. This is a set of fields that can appear on a room's Details tab in the console, such as `contactName` and `phone`.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups": {
      "get": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Gets form groups.",
        "operationId": "FormGroups_GetFormGroups",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the results set. The default value is `0`.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Form Groups.",
            "schema": {
              "$ref": "#/definitions/FormGroupSummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFormGroups",
        "x-ds-method": "GetFormGroups",
        "x-ds-service": "FormGroups",
        "description": "Returns the company form groups to which the current user has access.\n\n## Permissions \n\n**Rooms Version 5**: You must be Admin to use this method.\n\n**Rooms Version 6**: You must have a role for which the `canManageFormGroups` permission is set to **true**.\n",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Creates a form group.",
        "operationId": "FormGroups_CreateFormGroup",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FormGroupForCreate"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created form group.",
            "schema": {
              "$ref": "#/definitions/FormGroup"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateFormGroup",
        "x-ds-method": "CreateFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Creates a new form group with the name given in the `name` property of the request body.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups/{formGroupId}": {
      "get": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Gets a form group.",
        "operationId": "FormGroups_GetFormGroup",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved form group.",
            "schema": {
              "$ref": "#/definitions/FormGroup"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFormGroup",
        "x-ds-method": "GetFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Get the specified form group.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Renames a form group.",
        "operationId": "FormGroups_RenameFormGroup",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FormGroupForUpdate"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated form group.",
            "schema": {
              "$ref": "#/definitions/FormGroup"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "RenameFormGroup",
        "x-ds-method": "RenameFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Renames the specified form group with the name given in the `name` property of the request.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Deletes a form group.",
        "operationId": "FormGroups_DeleteFormGroup",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted form group."
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "DeleteFormGroup",
        "x-ds-method": "DeleteFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Deletes the specified form group.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups/{formGroupId}/unassign_form/{formId}": {
      "post": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Removes a form from a form group.",
        "operationId": "FormGroups_RemoveFormGroupForm",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "formId",
            "description": "The id of the form.\n\nExample: `5be324eb-xxxx-xxxx-xxxx-208065181be9`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Form was successfully removed from the form group"
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "RemoveFormGroupForm",
        "x-ds-method": "RemoveFormGroupForm",
        "x-ds-service": "FormGroups",
        "description": "Removes the form `formId` from the form group `formGroupId`.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups/{formGroupId}/assign_form": {
      "post": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Assigns a form to a form group.",
        "operationId": "FormGroups_AssignFormGroupForm",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FormGroupFormToAssign"
            },
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully assigned form to form group.",
            "schema": {
              "$ref": "#/definitions/FormGroupFormToAssign"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "AssignFormGroupForm",
        "x-ds-method": "AssignFormGroupForm",
        "x-ds-service": "FormGroups",
        "description": "Assigns the form specified in the `formId` property of the request to the form group `formGroupId`. Set the `isRequired` property in the request body to **true** if this is a required form.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups/{formGroupId}/grant_office_access/{officeId}": {
      "post": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Grants an office access to a form group.",
        "operationId": "FormGroups_GrantOfficeAccessToFormGroup",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "officeId",
            "description": "The id of the office. This is the id that the system generated when you created the office.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Office was successfully assigned to the form group"
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GrantOfficeAccessToFormGroup",
        "x-ds-method": "GrantOfficeAccessToFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Grants the office `officeId` access to the form group `formGroupId`.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_groups/{formGroupId}/revoke_office_access/{officeId}": {
      "post": {
        "tags": [
          "FormGroups"
        ],
        "summary": "Revoke an office's access to a form group.",
        "operationId": "FormGroups_RevokeOfficeAccessFromFormGroup",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formGroupId",
            "description": "The ID of the form group.\n\nExample: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "officeId",
            "description": "The id of the office. This is the id that the system generated when you created the office.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Office was successfully removed from the form group"
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "RevokeOfficeAccessFromFormGroup",
        "x-ds-method": "RevokeOfficeAccessFromFormGroup",
        "x-ds-service": "FormGroups",
        "description": "Revoke access to the form group `formGroupId` from the office `officeId`.\n\n## Permissions\n\nTo use this method, you must have the following permissions set to **true**:\n\n- Rooms Version 5: Admin\n- Rooms Version 6: Manage Form Groups (`canManageFormGroups`)\n",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_libraries": {
      "get": {
        "tags": [
          "FormLibraries"
        ],
        "summary": "Gets form libraries.",
        "operationId": "FormLibraries_GetFormLibraries",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the results set. The default value is `0`.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Form Libraries.",
            "schema": {
              "$ref": "#/definitions/FormLibrarySummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFormLibraries",
        "x-ds-method": "GetFormLibraries",
        "x-ds-service": "FormLibraries",
        "description": "Returns a list of form libraries to which the current user has access.\n\n## Permissions\n\nAll users can use this method, but the results will differ based on whether the company has asked DocuSign to enable **RequireOfficeLibraryAssignments** functionality. If this functionality is enabled for the account, then the list is filtered based on the offices that the user is in and the libraries that are assigned to those offices. If **RequireOfficeLibraryAssignments**  is not enabled, the API returns all results.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/form_libraries/{formLibraryId}/forms": {
      "get": {
        "tags": [
          "FormLibraries"
        ],
        "summary": "Gets the forms in a form library.",
        "operationId": "FormLibraries_GetFormLibraryForms",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formLibraryId",
            "description": "(Required) The id of the form library.\n\nExample: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`\n",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the results set. The default value is `0`.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved library ",
            "schema": {
              "$ref": "#/definitions/FormSummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFormLibraryForms",
        "x-ds-method": "GetFormLibraryForms",
        "x-ds-service": "FormLibraries",
        "description": "Returns a list of forms  to which the current user has access in the specified form library.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/forms/{formId}/details": {
      "get": {
        "tags": [
          "FormDetails"
        ],
        "summary": "Gets form details.",
        "operationId": "FormDetails_GetFormDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "formId",
            "description": "(Required) The id of the form.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Form based on FormId",
            "schema": {
              "$ref": "#/definitions/FormDetails"
            }
          },
          "400": {
            "description": "Unable to Find Form based on FormId"
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFormDetails",
        "x-ds-method": "GetFormDetails",
        "x-ds-service": "FormDetails",
        "description": "Returns details about a specific form, such as the date it was created and last updated, the number of pages, the form owner, and other information.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Gets countries.",
        "operationId": "Countries_GetCountries",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalCountries"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetCountries",
        "x-ds-method": "GetCountries",
        "x-ds-service": "Countries",
        "description": "Returns a list of countries that the API supports. This is a list of countries in which you can create an office.\n\nYou do not specify an `accountId` or any other parameters with this method.\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/closing_statuses": {
      "get": {
        "tags": [
          "ClosingStatuses"
        ],
        "summary": "Gets closing statuses.",
        "operationId": "ClosingStatuses_GetClosingStatuses",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalClosingStatuses"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetClosingStatuses",
        "x-ds-method": "GetClosingStatuses",
        "x-ds-service": "ClosingStatuses",
        "description": "Returns a list of closing statuses, or valid reasons for closing a room.\n\nYou do not specify an `accountId` or any other parameters with this method.\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/contact_sides": {
      "get": {
        "tags": [
          "ContactSides"
        ],
        "summary": "Gets contact sides.",
        "operationId": "ContactSides_GetContactSides",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalContactSides"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetContactSides",
        "x-ds-method": "GetContactSides",
        "x-ds-service": "ContactSides",
        "description": "Return a list of valid values for transaction contact sides.\n\n**Note**: You do not specify an `accountId` or any other parameters with this method.\n\n## Permissions\n\nAny user who has a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/financing_types": {
      "get": {
        "tags": [
          "FinancingTypes"
        ],
        "summary": "Gets financing types.",
        "operationId": "FinancingTypes_GetFinancingTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalFinancingTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetFinancingTypes",
        "x-ds-method": "GetFinancingTypes",
        "x-ds-service": "FinancingTypes",
        "description": "Returns a list of possible financing types.\n\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/origins_of_leads": {
      "get": {
        "tags": [
          "OriginsOfLeads"
        ],
        "summary": "Gets origins of leads.",
        "operationId": "OriginsOfLeads_GetOriginsOfLeads",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalOriginsOfLeads"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetOriginsOfLeads",
        "x-ds-method": "GetOriginsOfLeads",
        "x-ds-service": "OriginsOfLeads",
        "description": "Returns a list of origins of leads (such as Trulia or Zillow) that you can specify for rooms.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/property_types": {
      "get": {
        "tags": [
          "PropertyTypes"
        ],
        "summary": "Gets property types.",
        "operationId": "PropertyTypes_GetPropertyTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalPropertyTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetPropertyTypes",
        "x-ds-method": "GetPropertyTypes",
        "x-ds-service": "PropertyTypes",
        "description": "Returns a list of property types.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/room_contact_types": {
      "get": {
        "tags": [
          "RoomContactTypes"
        ],
        "summary": "Gets room contact types.",
        "operationId": "RoomContactTypes_GetRoomContactTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalRoomContactTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRoomContactTypes",
        "x-ds-method": "GetRoomContactTypes",
        "x-ds-service": "RoomContactTypes",
        "description": "Returns a list of room contact types, such as Buyer, Seller, and Listing Agent.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/seller_decision_types": {
      "get": {
        "tags": [
          "SellerDecisionTypes"
        ],
        "summary": "Gets seller decision types.",
        "operationId": "SellerDecisionTypes_GetSellerDecisionTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalSellerDecisionTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetSellerDecisionTypes",
        "x-ds-method": "GetSellerDecisionTypes",
        "x-ds-service": "SellerDecisionTypes",
        "description": "Returns a list of possible seller decision types regarding offers, such as `Countered` or `Rejected`.\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/special_circumstance_types": {
      "get": {
        "tags": [
          "SpecialCircumstanceTypes"
        ],
        "summary": "Gets special circumstance types.",
        "operationId": "SpecialCircumstanceTypes_GetSpecialCircumstanceTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalSpecialCircumstanceTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetSpecialCircumstanceTypes",
        "x-ds-method": "GetSpecialCircumstanceTypes",
        "x-ds-service": "SpecialCircumstanceTypes",
        "description": "Returns a list of special circumstance types, such as `Short Sale` and `Foreclosure`. These are the values that you can select for the **Special circumstances** field that appears on the **Room Details** page.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/task_date_types": {
      "get": {
        "tags": [
          "TaskDateTypes"
        ],
        "summary": "Gets task date types.",
        "operationId": "TaskDateTypes_GetTaskDateTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalTaskDateTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetTaskDateTypes",
        "x-ds-method": "GetTaskDateTypes",
        "x-ds-service": "TaskDateTypes",
        "description": "Returns a list of date types that you can use with tasks, such as `Actual Close Date` and `Task Due Date`. These are the options that appear in the **Due Date** drop-down list when you create a task by using the console.\n\n**Note**: You do not enter an `accountId` with this method.\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/task_responsibility_types": {
      "get": {
        "tags": [
          "TaskResponsibilityTypes"
        ],
        "summary": "Gets task responsibility types.",
        "operationId": "TaskResponsibilityTypes_GetTaskResponsibilityTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalTaskResponsibilityTypes"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetTaskResponsibilityTypes",
        "x-ds-method": "GetTaskResponsibilityTypes",
        "x-ds-service": "TaskResponsibilityTypes",
        "description": "Returns a list of responsibility types that you can assign to users when you add them to a task. \n\n**Note**: You do not specify an `accountId` with this method.\n\n## Permissions\n\nAny user with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/task_statuses": {
      "get": {
        "tags": [
          "TaskStatuses"
        ],
        "summary": "Retrieves the list of valid task statuses.",
        "operationId": "TaskStatuses_GetTaskStatuses",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalTaskStatuses"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetTaskStatuses",
        "x-ds-method": "GetTaskStatuses",
        "x-ds-service": "TaskStatuses",
        "description": "",
        "x-ds-in-sdk": true
      }
    },
    "/v2/transaction_sides": {
      "get": {
        "tags": [
          "TransactionSides"
        ],
        "summary": "Gets transaction sides.",
        "operationId": "TransactionSides_GetTransactionSides",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalTransactionSides"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetTransactionSides",
        "x-ds-method": "GetTransactionSides",
        "x-ds-service": "TransactionSides",
        "description": "Returns a list of real estate transaction sides. \n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/states": {
      "get": {
        "tags": [
          "States"
        ],
        "summary": "Gets states.",
        "operationId": "States_GetStates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalStates"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetStates",
        "x-ds-method": "GetStates",
        "x-ds-service": "States",
        "description": "Returns a list of states.\n\n**Note**: You do not enter an `accountId` with this method.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Gets valid currencies.",
        "operationId": "Currencies_GetCurrencies",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalCurrencies"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetCurrencies",
        "x-ds-method": "GetCurrencies",
        "x-ds-service": "Currencies",
        "description": "Returns a list of valid values for the currencies that you can use for listing, offer, and loan amounts.\n\n**Note**: You do not specify an `accountId` with this method.\n\n## Permissions\n\nAny user with a valid access token can use this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/time_zones": {
      "get": {
        "tags": [
          "TimeZones"
        ],
        "summary": "Gets time zones.",
        "operationId": "TimeZones_GetTimeZones",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Request was successful.",
            "schema": {
              "$ref": "#/definitions/GlobalTimeZones"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetTimeZones",
        "x-ds-method": "GetTimeZones",
        "x-ds-service": "TimeZones",
        "description": "Gets a list of time zones that you can assign to an office.\n\n**Note**: You do not specify an `accountId` with this method.\n\n## Permissions\n\nAnyone with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/offices": {
      "get": {
        "tags": [
          "Offices"
        ],
        "summary": "Gets offices.",
        "operationId": "Offices_GetOffices",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the results set from which to begin returning values. The default value is `0`.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "query",
            "name": "onlyAccessible",
            "description": "(Optional) When set to **true**, the response only includes the offices that are accessible to the current user.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "(Optional) Filters returned records by the specified string. The response only includes records containing this string in the office `name` field.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Offices successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/OfficeSummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetOffices",
        "x-ds-method": "GetOffices",
        "x-ds-service": "Offices",
        "description": "This method returns a list of offices associated with an account.",
        "x-ds-in-sdk": true
      },
      "post": {
        "tags": [
          "Offices"
        ],
        "summary": "Creates an office.",
        "operationId": "Offices_CreateOffice",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OfficeForCreate"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Office successfully created.",
            "schema": {
              "$ref": "#/definitions/Office"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateOffice",
        "x-ds-method": "CreateOffice",
        "x-ds-service": "Offices",
        "description": "This method creates an office in a Rooms account. You can configure the following information for the new office:\n\n- Office name\n- Region\n- Address\n- Country ID and time zone\n- Phone number\n\nWhen you create an office, the Rooms API service assigns it an ID (`officeId`) and timestamp (`createdDate`), which are returned in the response along with the above data elements you specified. See the `Offices` object for descriptions of these data elements.\n\nUse the [Users::AddUserToOffice](https://developers.docusign.com/docs/rooms-api/reference/users/users/addusertooffice/)\nmethod to add users to the office.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/offices/{officeId}": {
      "get": {
        "tags": [
          "Offices"
        ],
        "summary": "Gets information about an office.",
        "operationId": "Offices_GetOffice",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "officeId",
            "description": "(Required) The id of the office.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Office successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/Office"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetOffice",
        "x-ds-method": "GetOffice",
        "x-ds-service": "Offices",
        "description": "This method returns information about an office.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "Offices"
        ],
        "summary": "Deletes an office.",
        "operationId": "Offices_DeleteOffice",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "officeId",
            "description": "(Required) The id of the office.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Office successfully deleted."
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "DeleteOffice",
        "x-ds-method": "DeleteOffice",
        "x-ds-service": "Offices",
        "description": "This method deletes an office from a Rooms account.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/offices/{officeId}/reference_counts": {
      "get": {
        "tags": [
          "Offices"
        ],
        "summary": "Retrieves the number and type of objects that reference an office.",
        "operationId": "Offices_GetReferenceCounts",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "officeId",
            "description": "(Required) The id of the office.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Reference counts successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/OfficeReferenceCountList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetReferenceCounts",
        "x-ds-method": "GetReferenceCounts",
        "x-ds-service": "Offices",
        "description": "This method returns a list of each type of object and the number of objects of that type referencing the specified office. Note that an office cannot be deleted while existing objects reference it.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/regions": {
      "post": {
        "tags": [
          "Regions"
        ],
        "summary": "Creates a region.",
        "operationId": "Regions_CreateRegion",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Region"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "The region was successfully created",
            "schema": {
              "$ref": "#/definitions/Region"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateRegion",
        "x-ds-method": "CreateRegion",
        "x-ds-service": "Regions",
        "description": "This method creates a new region. When you create a region, you specify only the name. The service will assign and return a region ID (`regionId`) and a creation timestamp (`createdDate`).",
        "x-ds-in-sdk": true
      },
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Gets regions.",
        "operationId": "Regions_GetRegions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the results set from which to begin returning values. The default value is `0`.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "query",
            "name": "managedOnly",
            "description": "(Optional) When set to **true**, only the regions that the current user manages are returned. The default value is **false**.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Regions successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/RegionSummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRegions",
        "x-ds-method": "GetRegions",
        "x-ds-service": "Regions",
        "description": "This method returns a list of regions that are associated with a Rooms account.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/regions/{regionId}": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Gets information about a region.",
        "operationId": "Regions_GetRegion",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "regionId",
            "description": "(Required) The id of the region.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "The region was found.",
            "schema": {
              "$ref": "#/definitions/Region"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRegion",
        "x-ds-method": "GetRegion",
        "x-ds-service": "Regions",
        "description": "This method returns information about a specific region.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "Regions"
        ],
        "summary": "Deletes a region.",
        "operationId": "Regions_DeleteRegion",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "regionId",
            "description": "(Required) The id of the region.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Region successfully deleted."
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "DeleteRegion",
        "x-ds-method": "DeleteRegion",
        "x-ds-service": "Regions",
        "description": "This method deletes a region from a Rooms account.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/regions/{regionId}/reference_counts": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Retrieves the number and type of objects that reference a region.",
        "operationId": "Regions_GetRegionReferenceCounts",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "regionId",
            "description": "(Required) The id of the region.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Reference counts successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/RegionReferenceCountList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRegionReferenceCounts",
        "x-ds-method": "GetRegionReferenceCounts",
        "x-ds-service": "Regions",
        "description": "This method returns a list of each type of object and the number of objects of that type referencing the specified region. \n\n**Note**: A region cannot be deleted while existing objects reference it.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/roles": {
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Creates a role.",
        "operationId": "Roles_CreateRole",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RoleForCreate"
            },
            "description": ""
          }
        ],
        "responses": {
          "201": {
            "description": "Role successfully created.",
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "CreateRole",
        "x-ds-method": "CreateRole",
        "x-ds-service": "Roles",
        "description": "Creates a new company role in Rooms Version 6.\n\n## Permissions\n\nTo use this method, you must have the `canManageAccount` permission set to **true**.",
        "x-ds-in-sdk": true
      },
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Gets roles.",
        "operationId": "Roles_GetRoles",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "onlyAssignable",
            "description": "(Optional) When set to **true**, returns only the roles that the current user can assign to someone else. The default value is **false**.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "filter",
            "description": "(Optional) A search filter that returns roles by the beginning of the role name. You can enter the beginning of the role name only to return all of the roles that begin with the text that you entered. \n\nFor example, if your company has set up roles such as Manager Beginner, Manager Pro, Agent Expert, and Agent Superstar, you could enter `Manager` to return all of the Manager roles (Manager Beginner and Manager Pro).\n\n**Note**: You do not enter a wildcard (*) at the end of the name fragment.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "(Optional) The starting zero-based index position of the result set. The default value is 0.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "query",
            "name": "count",
            "description": "(Optional) The number of results to return. This value must be a number between `1` and `100` (default).",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Roles successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/RoleSummaryList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRoles",
        "x-ds-method": "GetRoles",
        "x-ds-service": "Roles",
        "description": "Returns a list of roles associated with a company account.\n\n## Permissions \n\nAny user with a valid access token can call this method.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/roles/{roleId}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Gets a role.",
        "operationId": "Roles_GetRole",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roleId",
            "description": "(Required) The id of the role.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "includeIsAssigned",
            "description": "(Optional) When set to **true**, the response includes the `isAssigned` property, which specifies whether the role is currently assigned to any users. The default is **false**.",
            "type": "boolean",
            "default": false
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Role successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRole",
        "x-ds-method": "GetRole",
        "x-ds-service": "Roles",
        "description": "Returns details about a role, including the associated permissions.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Updates a role.",
        "operationId": "Roles_UpdateRole",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roleId",
            "description": "(Required) The id of the role to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RoleForUpdate"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Role successfully updated.",
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "UpdateRole",
        "x-ds-method": "UpdateRole",
        "x-ds-service": "Roles",
        "description": "Modifies the specified company role in Rooms Version 6.\n\n## Permissions\n\nTo use this method, you must have the `canManageAccount` permission set to **true**.",
        "x-ds-in-sdk": true
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Deletes a role.",
        "operationId": "Roles_DeleteRole",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roleId",
            "description": "(Required) The id of the role to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "204": {
            "description": "Role successfully deleted."
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "DeleteRole",
        "x-ds-method": "DeleteRole",
        "x-ds-service": "Roles",
        "description": "Deletes a role from a company account in Rooms Version 6.\n\n## Permissions \n\nTo use this method, you must have the `canManageAccount` permission set to **true**.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/rooms/{roomId}/field_data": {
      "get": {
        "tags": [
          "Rooms"
        ],
        "summary": "Gets a room's field data.",
        "operationId": "Rooms_GetRoomFieldData",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roomId",
            "description": "(Required) The id of the room.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Field data successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/FieldData"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRoomFieldData",
        "x-ds-method": "GetRoomFieldData",
        "x-ds-service": "Rooms",
        "description": "Returns the field data associated with a room. This is the information that appears on the room's **Details** tab.\n\nTo better understand the room's field data, use the [Rooms::GetRoomFieldSet](/rooms-api/reference/Rooms/Rooms/GetRoomFieldSet) method to retrieve the set of fields that the room uses.",
        "x-ds-in-sdk": true
      },
      "put": {
        "tags": [
          "Rooms"
        ],
        "summary": "Updates a room's field data.",
        "operationId": "Rooms_UpdateRoomFieldData",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roomId",
            "description": "The id of the room.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FieldDataForUpdate"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Field data successfully updated.",
            "schema": {
              "$ref": "#/definitions/FieldData"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "UpdateRoomFieldData",
        "x-ds-method": "UpdateRoomFieldData",
        "x-ds-service": "Rooms",
        "description": "This method lets you update one or more fields in a room's field data, the information that appears in the room's **Details** tab. To better understand the room's field data, use the [Rooms::GetRoomFieldSet](/rooms-api/reference/Rooms/Rooms/GetRoomFieldSet) method to retrieve the set of fields that the room uses.\n\nTo get the current values of a room's field data, use [Rooms::GetRoomFieldData](/rooms-api/reference/Rooms/Rooms/GetRoomFieldData).\n\nFor example, to update the \"Tax annual amount\" and Buyer1's name fields in a room, you would use a request body that looks like this:\n\n```\n{\n  \"data\": {\n    \"taxAnnualAmount\": 3389.12,\n    \"buyer1\": {\n      \"name\": \"Elizabeth Bennet\"\n    }\n  }\n}\n```\n\nIf successful, the response body will have the same contents as the request body.\n\n\nAll of the fields must be updated successfully for the method to succeed.\nFor example, if you were to set the tax amount to a negative number,\nthe method will fail and none of the fields will be updated.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/rooms/{roomId}/room_folders": {
      "get": {
        "tags": [
          "RoomFolders"
        ],
        "summary": "Gets a list of room folders accessible to the current user.",
        "operationId": "RoomFolders_GetRoomFolders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roomId",
            "description": "The room id from which to retrieve folders.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "startPosition",
            "description": "Position of the first item in the total results. Defaults to 0.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "query",
            "name": "count",
            "description": "Number of room folders to return. Defaults to the maximum which is 100.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "The globally unique identifier (GUID) for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Room folders successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/RoomFolderList"
            }
          },
          "400": {
            "description": "Bad request. See ErrorCode and Message for details",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Not authorized to make this request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ds-methodname": "GetRoomFolders",
        "x-ds-method": "GetRoomFolders",
        "x-ds-service": "RoomFolders",
        "description": "Gets a list of room folders in the specified room that are accessible to the current user.",
        "x-ds-in-sdk": true
      }
    },
    "/v2/accounts/{accountId}/rooms/{roomId}/forms": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Adds a form to a room.",
        "operationId": "Rooms_AddFormToRoom",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "roomId",
            "description": "(Required) The id of the room to which you want to add the form.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string",
            "description": "(Required) The globally unique identifier (GUID) for the account."
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/FormForAdd"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoomDocument"
            }
          },
          "201": {
            "description": "The DocuSign Form was successfully added to the room",
            "schema": {
              "$ref": "#/definitions/RoomDocument"
            }
          },
          "400": {
[...]
